In [9]:
from pytrends.request import TrendReq

pytrends = TrendReq(hl='en-US', tz=360)

In [24]:
kw_list = ['_']
cat_list = [3, 184, 316]
for cat in cat_list:
    pytrends.build_payload(kw_list, cat=cat, timeframe='2019-01-01 2020-12-20', geo='US-GA')
    interest_by_region_df = pytrends.interest_by_region(kw_list)
    print(interest_by_region_df)

                                 _
geoName
Albany GA                       82
Atlanta GA                      78
Augusta GA                      38
Chattanooga TN                  53
Columbus GA                     88
Dothan AL                        0
Jacksonville FL                 24
Macon GA                        44
Savannah GA                    100
Tallahassee FL-Thomasville GA    0
                               _
geoName
Albany GA                      0
Atlanta GA                     0
Augusta GA                     0
Chattanooga TN                 0
Columbus GA                    0
Dothan AL                      0
Jacksonville FL                0
Macon GA                       0
Savannah GA                    0
Tallahassee FL-Thomasville GA  0
                                 _
geoName
Albany GA                        0
Atlanta GA                     100
Augusta GA                       0
Chattanooga TN                   0
Columbus GA                      0
Dothan AL                        0
Jacksonville FL                  0
Macon GA                         0
Savannah GA                      0
Tallahassee FL-Thomasville GA    0

In [21]:
kw_list = ['_']
cat_list = [3, 184, 316]
pytrends.build_payload(kw_list, cat= 184, timeframe='2019-01-01 2020-12-20', geo='US-GA')

In [17]:
interest_by_region_df = pytrends.interest_by_region(kw_list)
interest_by_region_df

                                 _
geoName
Albany GA                      100
Atlanta GA                      96
Augusta GA                      69
Chattanooga TN                  82
Columbus GA                     81
Dothan AL                        0
Jacksonville FL                 29
Macon GA                        81
Savannah GA                     76
Tallahassee FL-Thomasville GA   42

In [22]:
kw_list = ['_']
cat_list = [3, 184, 316]
pytrends.build_payload(kw_list, cat= 316, timeframe='2019-01-01 2020-12-20', geo='US-GA')

In [23]:
interest_by_region_df = pytrends.interest_by_region(kw_list)
interest_by_region_df

                                 _
geoName
Albany GA                        0
Atlanta GA                     100
Augusta GA                       0
Chattanooga TN                   0
Columbus GA                      0
Dothan AL                        0
Jacksonville FL                  0
Macon GA                         0
Savannah GA                      0
Tallahassee FL-Thomasville GA    0

In [24]:
pytrends.interest_over_time()

,Demon Slayer: Kimetsu no Yaiba,Given,Tower of God,Fighting game,Simulation,isPartial
date,,,,,,
2019-01-06,0,58,1,4,20,False
2019-01-13,0,51,2,4,17,False
2019-01-20,0,46,1,4,12,False
2019-01-27,0,46,0,1,21,False
2019-02-03,0,56,1,4,24,False
...,...,...,...,...,...,...
2020-11-22,0,66,3,3,13,False
2020-11-29,1,69,2,2,16,False
2020-12-06,2,83,2,4,17,False
2020-12-13,0,86,3,3,14,False
2020-12-20,0,44,0,0,28,True

In [15]:
pytrends.get_historical_interest(kw_list, year_start=2020, month_start=12, day_start=18, hour_start=0, year_end=2020, month_end=12, day_end=18, hour_end=23)

The request failed: Google returned a response with code 400.

                     Cartoons  Animated Films  Anime & Manga  Comics isPartial
date
2020-12-18 00:00:00        20               0              0      30     False
2020-12-18 01:00:00        19               0              0      25     False
2020-12-18 02:00:00        12               0              0      32     False
2020-12-18 03:00:00        12               0              0      28     False
2020-12-18 04:00:00        14               0              0      42     False
2020-12-18 05:00:00        23               0              0      62     False
2020-12-18 06:00:00        11               0              0      60     False
2020-12-18 07:00:00        19               0              0      86     False
2020-12-18 08:00:00        24               5              0     100     False
2020-12-18 09:00:00        33               0              0      67     False
2020-12-18 10:00:00        10               0              0      31     False
2020-12-18 11:00:00         4               0              0      49     False
2020-12-18 12:00:00         5               0              0      13     False
2020-12-18 13:00:00        13               0              0      27     False
2020-12-18 14:00:00         9               0              0      25     False
2020-12-18 15:00:00        13               0              0      23     False
2020-12-18 16:00:00         4               0              0      21     False
2020-12-18 17:00:00        11               0              0      30     False
2020-12-18 18:00:00        10               0              0      17     False
2020-12-18 19:00:00        18               0              0      24     False
2020-12-18 20:00:00        14               0              0      31     False
2020-12-18 21:00:00         8               0              0      23     False
2020-12-18 22:00:00        16               0              0      28     False
2020-12-18 23:00:00        18               0              0      37     False

In [ ]:
pytrends.trending_searches(pn='united_states')