In [1]:
#dependencies
import pandas as pd
import numpy as np

In [2]:
#csv path 
all_states_history_path = "data/all-states-history.csv"
all_covid_data_df = pd.read_csv(all_states_history_path)
all_covid_data_df.head()

/Users/Keiko/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,date,state,dataQualityGrade,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2021-01-04,AK,A,218.0,218.0,3,NaN,1033.0,1033.0,97.0,...,1297498.0,3661,NaN,NaN,NaN,NaN,NaN,0,1297498.0,3661
1,2021-01-04,AL,A,4878.0,4259.0,5,619.0,35430.0,35430.0,3064.0,...,1903388.0,3318,NaN,NaN,88653.0,NaN,1903388.0,3318,NaN,0
2,2021-01-04,AR,A+,3800.0,3178.0,51,622.0,11514.0,11514.0,1296.0,...,2095621.0,5424,NaN,21856.0,NaN,254026.0,NaN,0,2095621.0,5424
3,2021-01-04,AS,D,0.0,NaN,0,NaN,NaN,NaN,NaN,...,2140.0,0,NaN,NaN,NaN,NaN,NaN,0,2140.0,0
4,2021-01-04,AZ,A+,9064.0,8173.0,3,891.0,39897.0,39897.0,4647.0,...,5288658.0,31186,393204.0,NaN,NaN,NaN,2937589.0,14822,5288658.0,31186

In [3]:
#creating a dictionary for making a shorter covid df with only relevant cols
covid_cols_dict = {
    'date': [x for x in all_covid_data_df['date']],
    'state': [x for x in all_covid_data_df['state']],
    'positive_cases': [x for x in all_covid_data_df['positive']],
    'total_tests': [x for x in all_covid_data_df['totalTestResults']]
}

In [4]:
#creating another df 
covid_cols_df = pd.DataFrame(covid_cols_dict)
covid_cols_df

             date state  positive_cases  total_tests
0      2021-01-04    AK         46812.0    1297498.0
1      2021-01-04    AL        374095.0    1903388.0
2      2021-01-04    AR        234781.0    2095621.0
3      2021-01-04    AS             0.0       2140.0
4      2021-01-04    AZ        561542.0    5288658.0
...           ...   ...             ...          ...
17262  2020-01-17    WA             0.0          NaN
17263  2020-01-16    WA             0.0          NaN
17264  2020-01-15    WA             0.0          NaN
17265  2020-01-14    WA             0.0          NaN
17266  2020-01-13    WA             NaN          NaN

[17267 rows x 4 columns]

In [5]:
#new column, percentage of positive cases
covid_cols_df['percentage_positive'] = (covid_cols_df['positive_cases']/covid_cols_df['total_tests']) * 100
covid_cols_df.head()

         date state  positive_cases  total_tests  percentage_positive
0  2021-01-04    AK         46812.0    1297498.0             3.607867
1  2021-01-04    AL        374095.0    1903388.0            19.654164
2  2021-01-04    AR        234781.0    2095621.0            11.203409
3  2021-01-04    AS             0.0       2140.0             0.000000
4  2021-01-04    AZ        561542.0    5288658.0            10.617854

In [6]:
#resetting index as the dates
covid_cols_df = covid_cols_df.set_index('date')

In [7]:
covid_cols_df.head()

           state  positive_cases  total_tests  percentage_positive
date
2021-01-04    AK         46812.0    1297498.0             3.607867
2021-01-04    AL        374095.0    1903388.0            19.654164
2021-01-04    AR        234781.0    2095621.0            11.203409
2021-01-04    AS             0.0       2140.0             0.000000
2021-01-04    AZ        561542.0    5288658.0            10.617854

In [8]:
#reading in the state abbreviations
path = '../perry/statesAbbrev.csv'
statesAbbrev_df = pd.read_csv(path)
statesAbbrev_df.sample(12)

                   State Abbrev Code
22              Michigan  Mich.   MI
3               Arkansas   Ark.   AR
32              New York   N.Y.   NY
37                Oregon   Ore.   OR
6            Connecticut  Conn.   CT
33        North Carolina   N.C.   NC
46              Virginia    Va.   VA
40        South Carolina   S.C.   SC
41          South Dakota   S.D.   SD
31            New Mexico   N.M.   NM
8   District of Columbia   D.C.   DC
29         New Hampshire   N.H.   NH

In [9]:
#list for state codes
state_codes = [x for x in statesAbbrev_df['Code']]

In [10]:
#list for state names
state_names = [x for x in statesAbbrev_df['State']]

In [11]:
#finding the codes for each of the states concerned here
state_codes[11], state_codes[12], state_codes[13], state_codes[14], state_codes[15], state_codes[16], state_codes[17], state_codes[18], state_codes[19], state_codes[20]

('HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD')

In [12]:
#reading in the stay at home order df
path = '../perry/full_SAH_orders.csv'
sah_data_df = pd.read_csv(path)
sah_data_df.head()

,state_name,start_date,end_date,gathering_bans,previous_orders_start_date,previous_orders_end_date
0,Hawaii,4/25/2020,5/31/2020,NaN,NaN,NaN
1,Washington,4/2/2020,5/4/2020,NaN,NaN,NaN
2,Montana,4/24/2020,4/26/2020,More than 10,NaN,NaN
3,Maine,4/2/2020,4/30/2020,NaN,NaN,NaN
4,North Dakota,NaN,NaN,NaN,NaN,NaN

In [13]:
#creating a df dict to hold the state dfs, reading in the dfs
states_df_dict = {}
for x in range(11, 21):
    path = f'../sarah/google_trends/google_trends_csvs/state_csvs/US-{state_codes[x]}_cat_data.csv'
    states_df_dict[f'{state_codes[x]}_data_df'] = pd.read_csv(path)

In [14]:
#testing to see how many states lie in the df dict
len(states_df_dict)

10

In [15]:
#inspecting the keys (ie df names)
states_df_dict.keys()
states_df_dict.keys()

dict_keys(['HI_data_df', 'ID_data_df', 'IL_data_df', 'IN_data_df', 'IA_data_df', 'KS_data_df', 'KY_data_df', 'LA_data_df', 'ME_data_df', 'MD_data_df'])

In [16]:
#test printing a df
print(state_codes[11])
states_df_dict[f'{state_codes[11]}_data_df'].head(10)

HI

,time,arts_entertainment,autos,beauty_fitness,books_lit,action_adventure,campaigns_elections,celebs,discrimination,entertainment_media,...,mobiles,online_vids,scifi_fantasy,sport_news,tv_shows,voice_vid_chat,weather,covid_cases,stay_at_home,mass_gathering_ban
0,2019-01-06,100,84,100,90,82,0,87,13,90,...,68,83,27,83,96,33,36,NaN,False,False
1,2019-01-13,98,82,96,91,80,0,85,24,68,...,62,86,61,56,85,14,49,NaN,False,False
2,2019-01-20,92,84,89,89,70,0,76,31,77,...,56,98,53,72,80,9,43,NaN,False,False
3,2019-01-27,93,82,90,92,71,0,70,29,65,...,63,74,31,35,90,14,77,NaN,False,False
4,2019-02-03,94,89,96,91,83,0,67,26,65,...,61,83,27,62,91,32,56,NaN,False,False
5,2019-02-10,96,78,91,84,71,0,67,18,57,...,66,71,17,60,79,60,100,NaN,False,False
6,2019-02-17,96,84,93,81,61,0,88,13,67,...,75,77,50,48,88,47,67,NaN,False,False
7,2019-02-24,99,85,90,84,51,0,77,35,70,...,68,74,53,54,87,69,47,NaN,False,False
8,2019-03-03,99,85,96,83,56,0,72,63,69,...,62,80,27,54,88,33,51,NaN,False,False
9,2019-03-10,94,91,100,85,74,0,77,8,61,...,67,84,24,79,100,42,32,NaN,False,False

In [17]:
dates_list = [x for x in states_df_dict[f'{state_codes[11]}_data_df']['time']]
dates_list

['2019-01-06',
 '2019-01-13',
 '2019-01-20',
 '2019-01-27',
 '2019-02-03',
 '2019-02-10',
 '2019-02-17',
 '2019-02-24',
 '2019-03-03',
 '2019-03-10',
 '2019-03-17',
 '2019-03-24',
 '2019-03-31',
 '2019-04-07',
 '2019-04-14',
 '2019-04-21',
 '2019-04-28',
 '2019-05-05',
 '2019-05-12',
 '2019-05-19',
 '2019-05-26',
 '2019-06-02',
 '2019-06-09',
 '2019-06-16',
 '2019-06-23',
 '2019-06-30',
 '2019-07-07',
 '2019-07-14',
 '2019-07-21',
 '2019-07-28',
 '2019-08-04',
 '2019-08-11',
 '2019-08-18',
 '2019-08-25',
 '2019-09-01',
 '2019-09-08',
 '2019-09-15',
 '2019-09-22',
 '2019-09-29',
 '2019-10-06',
 '2019-10-13',
 '2019-10-20',
 '2019-10-27',
 '2019-11-03',
 '2019-11-10',
 '2019-11-17',
 '2019-11-24',
 '2019-12-01',
 '2019-12-08',
 '2019-12-15',
 '2019-12-22',
 '2019-12-29',
 '2020-01-05',
 '2020-01-12',
 '2020-01-19',
 '2020-01-26',
 '2020-02-02',
 '2020-02-09',
 '2020-02-16',
 '2020-02-23',
 '2020-03-01',
 '2020-03-08',
 '2020-03-15',
 '2020-03-22',
 '2020-03-29',
 '2020-04-05',
 '2020-04-12',
 '2020-04-19',
 '2020-04-26',
 '2020-05-03',
 '2020-05-10',
 '2020-05-17',
 '2020-05-24',
 '2020-05-31',
 '2020-06-07',
 '2020-06-14',
 '2020-06-21',
 '2020-06-28',
 '2020-07-05',
 '2020-07-12',
 '2020-07-19',
 '2020-07-26',
 '2020-08-02',
 '2020-08-09',
 '2020-08-16',
 '2020-08-23',
 '2020-08-30',
 '2020-09-06',
 '2020-09-13',
 '2020-09-20',
 '2020-09-27',
 '2020-10-04',
 '2020-10-11',
 '2020-10-18',
 '2020-10-25',
 '2020-11-01',
 '2020-11-08',
 '2020-11-15',
 '2020-11-22',
 '2020-11-29',
 '2020-12-06',
 '2020-12-13',
 '2020-12-20']

In [18]:
#testing the char indices for only the year-month
dates_list[0][0:7]

'2019-01'

In [19]:
#creating a list of unique year-month combos
all_month_year = [x[0:7] for x in dates_list]
month_year = set(all_month_year)
month_year = list(month_year)

In [20]:
#function for appending dates per month, and their indices, to a month_date_dict
months_dates_dict = {}
def date_dict_append(m):
    month_date_list = []
    for x in range(0, len(dates_list)):
        if dates_list[x][0:7] == month_year[m]:
            month_date_list.append((dates_list[x], x))
    #months_dates_dict = {}
    months_dates_dict[f'{month_year[m]}'] = month_date_list

In [21]:
#calling the function for each month in the month-year dict
for m in range(0, len(month_year)):
    date_dict_append(m)

In [22]:
#printing the dict
print(months_dates_dict)

{'2019-09': [('2019-09-01', 34), ('2019-09-08', 35), ('2019-09-15', 36), ('2019-09-22', 37), ('2019-09-29', 38)], '2020-12': [('2020-12-06', 100), ('2020-12-13', 101), ('2020-12-20', 102)], '2019-04': [('2019-04-07', 13), ('2019-04-14', 14), ('2019-04-21', 15), ('2019-04-28', 16)], '2020-06': [('2020-06-07', 74), ('2020-06-14', 75), ('2020-06-21', 76), ('2020-06-28', 77)], '2020-03': [('2020-03-01', 60), ('2020-03-08', 61), ('2020-03-15', 62), ('2020-03-22', 63), ('2020-03-29', 64)], '2020-05': [('2020-05-03', 69), ('2020-05-10', 70), ('2020-05-17', 71), ('2020-05-24', 72), ('2020-05-31', 73)], '2020-08': [('2020-08-02', 82), ('2020-08-09', 83), ('2020-08-16', 84), ('2020-08-23', 85), ('2020-08-30', 86)], '2019-02': [('2019-02-03', 4), ('2019-02-10', 5), ('2019-02-17', 6), ('2019-02-24', 7)], '2019-08': [('2019-08-04', 30), ('2019-08-11', 31), ('2019-08-18', 32), ('2019-08-25', 33)], '2019-10': [('2019-10-06', 39), ('2019-10-13', 40), ('2019-10-20', 41), ('2019-10-27', 42)], '2020-02': [('2020-02-02', 56), ('2020-02-09', 57), ('2020-02-16', 58), ('2020-02-23', 59)], '2020-01': [('2020-01-05', 52), ('2020-01-12', 53), ('2020-01-19', 54), ('2020-01-26', 55)], '2019-06': [('2019-06-02', 21), ('2019-06-09', 22), ('2019-06-16', 23), ('2019-06-23', 24), ('2019-06-30', 25)], '2020-11': [('2020-11-01', 95), ('2020-11-08', 96), ('2020-11-15', 97), ('2020-11-22', 98), ('2020-11-29', 99)], '2019-05': [('2019-05-05', 17), ('2019-05-12', 18), ('2019-05-19', 19), ('2019-05-26', 20)], '2020-07': [('2020-07-05', 78), ('2020-07-12', 79), ('2020-07-19', 80), ('2020-07-26', 81)], '2020-09': [('2020-09-06', 87), ('2020-09-13', 88), ('2020-09-20', 89), ('2020-09-27', 90)], '2019-12': [('2019-12-01', 47), ('2019-12-08', 48), ('2019-12-15', 49), ('2019-12-22', 50), ('2019-12-29', 51)], '2020-04': [('2020-04-05', 65), ('2020-04-12', 66), ('2020-04-19', 67), ('2020-04-26', 68)], '2019-03': [('2019-03-03', 8), ('2019-03-10', 9), ('2019-03-17', 10), ('2019-03-24', 11), ('2019-03-31', 12)], '2019-01': [('2019-01-06', 0), ('2019-01-13', 1), ('2019-01-20', 2), ('2019-01-27', 3)], '2019-07': [('2019-07-07', 26), ('2019-07-14', 27), ('2019-07-21', 28), ('2019-07-28', 29)], '2019-11': [('2019-11-03', 43), ('2019-11-10', 44), ('2019-11-17', 45), ('2019-11-24', 46)], '2020-10': [('2020-10-04', 91), ('2020-10-11', 92), ('2020-10-18', 93), ('2020-10-25', 94)]}

In [23]:
#defining function for appending the covid data to each state df
def covid_data_append(state_index):
    global state_date_list
    state_date_list = []
    for date in dates_list:
        try:
            state_date_list.append(covid_cols_df[covid_cols_df['state'] == state_codes[state_index]].loc[date, 'positive_cases'])
        except KeyError:
            print(date)
            state_date_list.append('n/a')
            continue  
    states_df_dict[f'{state_codes[state_index]}_data_df']['covid_cases'] = state_date_list
    print(states_df_dict[f'{state_codes[state_index]}_data_df'].tail(20))

In [24]:
#calling funct for states dfs index 40-50
for x in range(11, 20):
    covid_data_append(x)

2019-01-06
2019-01-13
2019-01-20
2019-01-27
2019-02-03
2019-02-10
2019-02-17
2019-02-24
2019-03-03
2019-03-10
2019-03-17
2019-03-24
2019-03-31
2019-04-07
2019-04-14
2019-04-21
2019-04-28
2019-05-05
2019-05-12
2019-05-19
2019-05-26
2019-06-02
2019-06-09
2019-06-16
2019-06-23
2019-06-30
2019-07-07
2019-07-14
2019-07-21
2019-07-28
2019-08-04
2019-08-11
2019-08-18
2019-08-25
2019-09-01
2019-09-08
2019-09-15
2019-09-22
2019-09-29
2019-10-06
2019-10-13
2019-10-20
2019-10-27
2019-11-03
2019-11-10
2019-11-17
2019-11-24
2019-12-01
2019-12-08
2019-12-15
2019-12-22
2019-12-29
2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
           time  arts_entertainment  autos  beauty_fitness  books_lit  \
83   2020-08-09                  86     88              84         70
84   2020-08-16                  89     88              87         75
85   2020-08-23                  91     88              78         97
86   2020-08-30                  95     86              82         99
87   2020-09-06                  96     84              82         89
88   2020-09-13                  91     81              85        100
89   2020-09-20                  87     81              79         99
90   2020-09-27                  86     76              84         84
91   2020-10-04                  76     83              76         70
92   2020-10-11                  74     79              73         65
93   2020-10-18                  76     76              78         63
94   2020-10-25                  75     75              78         67
95   2020-11-01                  70     67              71         62
96   2020-11-08                  77     79              78         61
97   2020-11-15                  79     76              76         63
98   2020-11-22                  80     75              76         59
99   2020-11-29                  77     76              76         70
100  2020-12-06                  73     74              74         67
101  2020-12-13                  72     72              71         57
102  2020-12-20                  83     81              78         53

     action_adventure  campaigns_elections  celebs  discrimination  \
83                 86                    2      81              29
84                 73                    1      68              22
85                 83                    1      74              27
86                 87                    1      59              24
87                 92                    1      73              11
88                 79                    1      67              30
89                 52                    1      58              37
90                 58                    2      93              25
91                 58                    2      97              20
92                 60                    1      67              17
93                 63                    2      73              21
94                 90                    2      71              30
95                 81                  100     100              18
96                 74                    9      90              28
97                 49                    2      75              21
98                 52                    1      67              14
99                 61                    1      66              14
100                63                    1      58               9
101                61                    1      58              19
102                50                    0      69               8

     entertainment_media  ...  mobiles  online_vids  scifi_fantasy  \
83                    80  ...       55           71             40
84                    84  ...       54           92             47
85                    78  ...       61           92             42
86                    88  ...       72           92             51
87                    68  ...       58           80             73
88                    71  ...       63          100             53
89                    64  ...       59           86             42
90                    65  ...       48           86             46
91                    64  ...       53           75             49
92                    65  ...       77           70             56
93                    53  ...       72           68             38
94                    63  ...       58           61             62
95                    46  ...       55           62             51
96                    44  ...       57           74             67
97                    54  ...       57           71             48
98                    68  ...       65           57             66
99                    48  ...       65           62             79
100                   53  ...       63           60             52
101                   41  ...       55           62             59
102                   82  ...       62           67             83

     sport_news  tv_shows  voice_vid_chat  weather  covid_cases  stay_at_home  \
83           42        83              28       19         3346         False
84           50        72              12       18         4825         False
85           63        85              28       21         6356         False
86           64        82              24       17         8139         False
87           58        86              32       16         9693         False
88           83        96              27       16        10722         False
89           56        80              39       20        11485         False
90           52        83              36       17        12197         False
91           66        76              24       17        12921         False
92           51        73              21       25        13569         False
93           50        70              17       33        14143         False
94           44        71              42       36        14758         False
95           51        74              28       21        15284         False
96           58        81              21       24        16051         False
97           35        73              25       27        16759         False
98           33        80              29       34        17483         False
99           51        75              61       26        18138         False
100          41        62              17       22        18842         False
101          40        73              30       27        19599         False
102          34        79              14       30        20615         False

     mass_gathering_ban
83                False
84                False
85                False
86                False
87                False
88                False
89                False
90                False
91                False
92                False
93                False
94                False
95                False
96                False
97                False
98                False
99                False
100               False
101               False
102               False

[20 rows x 25 columns]
2019-01-06
2019-01-13
2019-01-20
2019-01-27
2019-02-03
2019-02-10
2019-02-17
2019-02-24
2019-03-03
2019-03-10
2019-03-17
2019-03-24
2019-03-31
2019-04-07
2019-04-14
2019-04-21
2019-04-28
2019-05-05
2019-05-12
2019-05-19
2019-05-26
2019-06-02
2019-06-09
2019-06-16
2019-06-23
2019-06-30
2019-07-07
2019-07-14
2019-07-21
2019-07-28
2019-08-04
2019-08-11
2019-08-18
2019-08-25
2019-09-01
2019-09-08
2019-09-15
2019-09-22
2019-09-29
2019-10-06
2019-10-13
2019-10-20
2019-10-27
2019-11-03
2019-11-10
2019-11-17
2019-11-24
2019-12-01
2019-12-08
2019-12-15
2019-12-22
2019-12-29
2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
           time  arts_entertainment  autos  beauty_fitness  books_lit  \
83   2020-08-09                  81     76              84         56
84   2020-08-16                  82     79              77         59
85   2020-08-23                  86     79              77         63
86   2020-08-30                  84     74              74         77
87   2020-09-06                  84     70              77         71
88   2020-09-13                  86     75              77         89
89   2020-09-20                  85     70              81         94
90   2020-09-27                  82     68              76         78
91   2020-10-04                  83     65              64         74
92   2020-10-11                  76     62              73         60
93   2020-10-18                  78     68              76         63
94   2020-10-25                  80     63              73         66
95   2020-11-01                  72     57              65         51
96   2020-11-08                  83     63              78         62
97   2020-11-15                  81     61              82         66
98   2020-11-22                  77     59              75         53
99   2020-11-29                  83     57              76         64
100  2020-12-06                  79     63              76         68
101  2020-12-13                  79     61              76         68
102  2020-12-20                  87     62              77         60

     action_adventure  campaigns_elections  celebs  discrimination  \
83                 74                    0      66              47
84                 68                    1      75              33
85                 88                    0      73              27
86                 80                    0      63              39
87                 93                    1      58              47
88                 75                    1      60              22
89                 67                    1      56              17
90                 63                    2      99              30
91                 75                    2      77              25
92                 75                    1      58              18
93                 63                    2      57              16
94                100                    2      53              34
95                 77                  100     100              34
96                 85                    9      91              31
97                 70                    2      64              26
98                 66                    1      69              10
99                 71                    1      66               8
100                78                    1      58              26
101                69                    1      58              13
102                72                    0      75              11

     entertainment_media  ...  mobiles  online_vids  scifi_fantasy  \
83                    57  ...       64           61             36
84                    88  ...       71           83             39
85                    65  ...       70           87             44
86                    60  ...       65           90             58
87                    66  ...       54           85             61
88                    72  ...       66          100             56
89                    55  ...       63           80             40
90                    56  ...       55           92             43
91                    64  ...       51           70             56
92                    54  ...       90           67             40
93                    55  ...       62           67             63
94                    44  ...       62           67             42
95                    48  ...       53           70             56
96                    62  ...       58           80             54
97                    53  ...       66           68             58
98                    64  ...       69           62             63
99                    59  ...       54           69             73
100                   65  ...       66           71             81
101                   54  ...       60           71             84
102                   58  ...       65           81             63

     sport_news  tv_shows  voice_vid_chat  weather  covid_cases  stay_at_home  \
83           73        70              24       38        24495         False
84           71        71              24       49        27477         False
85           77        76              20       44        29662         False
86           69        75              28       45        31677         False
87           38        71              28       54        33477         False
88           80        80               0       49        35167         False
89           73        87              20       47        37247         False
90           80        77              48       35        40296         False
91           48        73              53       39        43702         False
92           36        69              43       53        47701         False
93           58        64              29       61        52582         False
94           46        68              30       50        58694         False
95           59        63              28       42        64608         False
96           33        88              38       70        72312         False
97           53        67              46       53        81317         False
98           37        77              25       43        90834         False
99           57        74              66       37        99660         False
100          57        77              62       43       109705         False
101          53        75              47       67       120632         False
102          44        74              18       55       129069         False

     mass_gathering_ban
83                False
84                False
85                False
86                False
87                False
88                False
89                False
90                False
91                False
92                False
93                False
94                False
95                False
96                False
97                False
98                False
99                False
100               False
101               False
102               False

[20 rows x 25 columns]
2019-01-06
2019-01-13
2019-01-20
2019-01-27
2019-02-03
2019-02-10
2019-02-17
2019-02-24
2019-03-03
2019-03-10
2019-03-17
2019-03-24
2019-03-31
2019-04-07
2019-04-14
2019-04-21
2019-04-28
2019-05-05
2019-05-12
2019-05-19
2019-05-26
2019-06-02
2019-06-09
2019-06-16
2019-06-23
2019-06-30
2019-07-07
2019-07-14
2019-07-21
2019-07-28
2019-08-04
2019-08-11
2019-08-18
2019-08-25
2019-09-01
2019-09-08
2019-09-15
2019-09-22
2019-09-29
2019-10-06
2019-10-13
2019-10-20
2019-10-27
2019-11-03
2019-11-10
2019-11-17
2019-11-24
2019-12-01
2019-12-08
2019-12-15
2019-12-22
2019-12-29
2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09

2020-02-16
2020-02-23
2020-03-01
           time  arts_entertainment  autos  beauty_fitness  books_lit  \
83   2020-08-09                  79     73              90         50
84   2020-08-16                  78     78              90         57
85   2020-08-23                  84     76              88         66
86   2020-08-30                  82     72              86         68
87   2020-09-06                  83     69              86         72
88   2020-09-13                  81     69              88         75
89   2020-09-20                  78     70              83         75
90   2020-09-27                  78     67              83         67
91   2020-10-04                  76     64              82         63
92   2020-10-11                  72     64              80         54
93   2020-10-18                  75     65              78         57
94   2020-10-25                  76     62              80         53
95   2020-11-01                  66     54              70         47
96   2020-11-08                  76     60              79         56
97   2020-11-15                  73     61              82         55
98   2020-11-22                  73     55              83         47
99   2020-11-29                  76     57              88         54
100  2020-12-06                  79     62              85         57
101  2020-12-13                  76     58              86         58
102  2020-12-20                  81     59              87         48

     action_adventure  campaigns_elections  celebs  discrimination  \
83                 60                    1      56              45
84                 56                    1      65              32
85                 62                    1      67              34
86                 66                    1      53              31
87                 72                    1      56              30
88                 64                    1      52              27
89                 60                    2      51              31
90                 53                    3      86              33
91                 55                    2      80              34
92                 56                    2      54              26
93                 54                    3      59              25
94                 79                    3      55              34
95                 63                  100     100              35
96                 55                    9      85              39
97                 56                    2      61              27
98                 54                    1      60              18
99                 55                    1      55              19
100                56                    1      58              19
101                55                    1      58              18
102                60                    0      60              14

     entertainment_media  ...  mobiles  online_vids  scifi_fantasy  \
83                    62  ...       49           79             51
84                    60  ...       47           82             55
85                    72  ...       50           94             58
86                    65  ...       50           90             57
87                    72  ...       44           96             77
88                    69  ...       50          100             74
89                    65  ...       47           91             56
90                    60  ...       44           86             54
91                    60  ...       44           82             51
92                    53  ...       71           69             53
93                    51  ...       56           71             57
94                    55  ...       49           71             85
95                    47  ...       43           65             68
96                    61  ...       49           80             63
97                    58  ...       49           72             70
98                    67  ...       45           68             80
99                    59  ...       49           69             81
100                   65  ...       44           74             87
101                   67  ...       46           77             95
102                   71  ...       50           77             99

     sport_news  tv_shows  voice_vid_chat  weather  covid_cases  stay_at_home  \
83           54        74              41       40       195380         False
84           89        72              42       22       207413         False
85           64        74              43       33       221595         False
86           73        76              44       31       235057         False
87           80        77              35       44       251508         False
88           79        73              41       26       263466         False
89           73        72              47       25       276456         False
90           75        70              36       30       290419         False
91           64        75              36       26       304280         False
92           61        74              35       32       322188         False
93           53        73              37       37       347635         False
94           54        69              31       30       378969         False
95           50        64              26       22       423539         False
96           42        86              37       33       487987         False
97           52        75              38       26       573616         False
98           47        75              38       25       656298         False
99           53        75              55       22       720114         False
100          49        76              40       24       787573         False
101          49        75              46       25       848904         False
102          59        83              26       29       900370         False

     mass_gathering_ban
83                False
84                False
85                False
86                False
87                False
88                False
89                False
90                False
91                False
92                False
93                False
94                False
95                False
96                False
97                False
98                False
99                False
100               False
101               False
102               False

[20 rows x 25 columns]
2019-01-06
2019-01-13
2019-01-20
2019-01-27
2019-02-03
2019-02-10
2019-02-17
2019-02-24
2019-03-03
2019-03-10
2019-03-17
2019-03-24
2019-03-31
2019-04-07
2019-04-14
2019-04-21
2019-04-28
2019-05-05
2019-05-12
2019-05-19
2019-05-26
2019-06-02
2019-06-09
2019-06-16
2019-06-23
2019-06-30
2019-07-07
2019-07-14
2019-07-21
2019-07-28
2019-08-04
2019-08-11
2019-08-18
2019-08-25
2019-09-01
2019-09-08
2019-09-15
2019-09-22
2019-09-29
2019-10-06
2019-10-13
2019-10-20
2019-10-27
2019-11-03
2019-11-10
2019-11-17
2019-11-24
2019-12-01
2019-12-08
2019-12-15
2019-12-22
2019-12-29
2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
           time  arts_entertainment  autos  beauty_fitness  books_lit  \
83   2020-08-09                  82     78              81         68
84   2020-08-16                  82     80              80         79
85   2020-08-23                  87     80              82         86
86   2020-08-30                  83     76              80         85
87   2020-09-06                  84     74              82         80
88   2020-09-13                  80     74              82         82
89   2020-09-20                  79     73              79         86
90   2020-09-27                  80     71              78         75
91   2020-10-04                  79     67              78         68
92   2020-10-11                  73     69              75         58
93   2020-10-18                  77     68              79         58
94   2020-10-25                  78     65              76         59
95   2020-11-01                  70     57              65         52
96   2020-11-08                  78     67              79         59
97   2020-11-15                  77     65              82         64
98   2020-11-22                  78     63              75         55
99   2020-11-29                  77     66              86         58
100  2020-12-06                  80     63              84         67
101  2020-12-13                  78     65              82         62
102  2020-12-20                  85     66              86         55

     action_adventure  campaigns_elections  celebs  discrimination  \
83                 63                    1      58              53
84                 60                    1      65              27
85                 76                    1      64              32
86                 80                    1      54              34
87                 76                    1      57              33
88                 73                    1      50              15
89                 63                    2      50              26
90                 63                    3      87              25
91                 65                    3      79              23
92                 53                    2      57              22
93                 60                    3      61              24
94                100                    3      55              31
95                 71                  100     100              40
96                 64                    9      86              34
97                 64                    3      65              26
98                 70                    1      65              16
99                 67                    1      58              17
100                64                    1      59              16
101                62                    1      59              15
102                63                    0      69              13

     entertainment_media  ...  mobiles  online_vids  scifi_fantasy  \
83                    65  ...       64           84             43
84                    73  ...       61           95             45
85                    67  ...       59          100             59
86                    68  ...       56           89             64
87                    74  ...       57           80             62
88                    69  ...       58           86             63
89                    67  ...       66           78             59
90                    63  ...       58           78             45
91                    60  ...       56           71             52
92                    64  ...       80           65             53
93                    60  ...       64           70             57
94                    65  ...       63           68             78
95                    56  ...       59           61             54
96                    68  ...       69           72             63
97                    62  ...       60           68             64
98                    71  ...       69           64             78
99                    61  ...       61           73             76
100                   76  ...       61           69             91
101                   68  ...       61           72             93
102                   81  ...       64           73            100

     sport_news  tv_shows  voice_vid_chat  weather  covid_cases  stay_at_home  \
83           70        76              42       46        74328         False
84           97        73              38       31        80415         False
85           78        78              54       44        85932         False
86           70        75              50       37        93313         False
87           84        77              50       45        99804         False
88           82        77              56       33       105804         False
89           73        74              47       29       111505         False
90           71        76              51       39       117450         False
91           69        70              47       35       125146         False
92           58        72              45       43       134981         False
93           75        70              44       50       147582         False
94           71        72              38       39       162607         False
95           55        63              48       27       182108         False
96           56        89              39       37       210374         False
97           62        76              34       32       251597         False
98           63        74              36       33       295357         False
99           69        70              79       34       333312         False
100          64        76              61       30       381617         False
101          65        77              86       38       425434         False
102          59        79              54       39       464354         False

     mass_gathering_ban
83                False
84                False
85                False
86                False
87                False
88                False
89                False
90                False
91                False
92                False
93                False
94                False
95                False
96                False
97                False
98                False
99                False
100               False
101               False
102               False

[20 rows x 25 columns]
2019-01-06
2019-01-13
2019-01-20
2019-01-27
2019-02-03
2019-02-10
2019-02-17
2019-02-24
2019-03-03
2019-03-10
2019-03-17
2019-03-24
2019-03-31
2019-04-07
2019-04-14
2019-04-21
2019-04-28
2019-05-05
2019-05-12
2019-05-19
2019-05-26
2019-06-02
2019-06-09
2019-06-16
2019-06-23
2019-06-30
2019-07-07
2019-07-14
2019-07-21
2019-07-28
2019-08-04
2019-08-11
2019-08-18
2019-08-25
2019-09-01
2019-09-08
2019-09-15
2019-09-22
2019-09-29
2019-10-06
2019-10-13
2019-10-20

2019-10-27
2019-11-03
2019-11-10
2019-11-17
2019-11-24
2019-12-01
2019-12-08
2019-12-15
2019-12-22
2019-12-29
2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
           time  arts_entertainment  autos  beauty_fitness  books_lit  \
83   2020-08-09                  68     77              68         46
84   2020-08-16                  79     85              76         56
85   2020-08-23                  89     86              78         75
86   2020-08-30                  88     85              74         84
87   2020-09-06                  90     83              75         81
88   2020-09-13                  85     79              76         85
89   2020-09-20                  83     83              74         79
90   2020-09-27                  85     78              72         74
91   2020-10-04                  82     75              69         67
92   2020-10-11                  75     74              67         56
93   2020-10-18                  79     78              68         61
94   2020-10-25                  80     70              72         59
95   2020-11-01                  71     62              61         52
96   2020-11-08                  85     70              70         59
97   2020-11-15                  79     69              77         63
98   2020-11-22                  81     68              70         55
99   2020-11-29                  76     67              77         57
100  2020-12-06                  79     72              74         60
101  2020-12-13                  82     73              74         60
102  2020-12-20                  88     71              79         57

     action_adventure  campaigns_elections  celebs  discrimination  \
83                 50                    1      53              25
84                 53                    1      60              18
85                 69                    1      76              23
86                 71                    1      59              20
87                 74                    1      60              26
88                 60                    1      50              17
89                 50                    1      52              25
90                 56                    2      88              21
91                 39                    2      79              17
92                 46                    2      61              17
93                 54                    3      62              26
94                100                    2      62              22
95                 60                  100     100              32
96                 57                    9      97              34
97                 56                    2      71              24
98                 43                    1      64              14
99                 54                    1      67              11
100                55                    1      62              12
101                58                    1      69              13
102                60                    0      73               7

     entertainment_media  ...  mobiles  online_vids  scifi_fantasy  \
83                    56  ...       59           70             36
84                    66  ...       60           82             63
85                    68  ...       74           93             51
86                    63  ...       70           99             65
87                    79  ...       59          100             54
88                    71  ...       62          100             67
89                    63  ...       64           85             68
90                    55  ...       56           87             59
91                    59  ...       53           82             55
92                    52  ...       92           80             54
93                    55  ...       67           74             57
94                    64  ...       70           76             83
95                    57  ...       54           70             65
96                    73  ...       71           82             74
97                    56  ...       64           78             78
98                    67  ...       71           73             78
99                    54  ...       64           77             59
100                   73  ...       73           75             85
101                   64  ...       68           76             88
102                   69  ...       72           78             94

     sport_news  tv_shows  voice_vid_chat  weather  covid_cases  stay_at_home  \
83           54        61              41       60        48789         False
84           71        61              18       33        52428         False
85           71        73              43       40        56275         False
86           69        76              36       40        62720         False
87           85        71              24       67        68291         False
88           88        75              15       29        72490         False
89           57        76              27       31        77679         False
90           56        72              15       40        83636         False
91           52        68              28       31        89096         False
92           79        65              32       42        95346         False
93           68        70              45       58       101960         False
94           56        72              21       40       109657         False
95           64        60              34       28       121967         False
96           44        84              43       41       140541         False
97           55        69              27       31       167282         False
98           57        73              34       32       187505         False
99           63        70              64       26       201267         False
100          54        65              38       37       213390         False
101          71        76              75       31       222148         False
102          61        78              27       44       230084         False

     mass_gathering_ban
83                False
84                False
85                False
86                False
87                False
88                False
89                False
90                False
91                False
92                False
93                False
94                False
95                False
96                False
97                False
98                False
99                False
100               False
101               False
102               False

[20 rows x 25 columns]
2019-01-06
2019-01-13
2019-01-20
2019-01-27
2019-02-03
2019-02-10
2019-02-17
2019-02-24
2019-03-03
2019-03-10
2019-03-17
2019-03-24
2019-03-31
2019-04-07
2019-04-14
2019-04-21
2019-04-28
2019-05-05
2019-05-12
2019-05-19
2019-05-26
2019-06-02
2019-06-09
2019-06-16
2019-06-23
2019-06-30
2019-07-07
2019-07-14
2019-07-21
2019-07-28
2019-08-04
2019-08-11
2019-08-18
2019-08-25
2019-09-01
2019-09-08
2019-09-15
2019-09-22
2019-09-29
2019-10-06
2019-10-13
2019-10-20
2019-10-27
2019-11-03
2019-11-10
2019-11-17
2019-11-24
2019-12-01
2019-12-08
2019-12-15
2019-12-22
2019-12-29
2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
           time  arts_entertainment  autos  beauty_fitness  books_lit  \
83   2020-08-09                  73     78              86         51
84   2020-08-16                  77     81              83         50
85   2020-08-23                  83     80              84         56
86   2020-08-30                  79     83              82         60
87   2020-09-06                  80     76              76         70
88   2020-09-13                  81     75              78         75
89   2020-09-20                  78     76              78         70
90   2020-09-27                  76     71              76         67
91   2020-10-04                  77     70              75         62
92   2020-10-11                  71     74              74         56
93   2020-10-18                  70     71              76         55
94   2020-10-25                  74     67              75         49
95   2020-11-01                  66     59              65         47
96   2020-11-08                  75     64              77         53
97   2020-11-15                  74     67              80         55
98   2020-11-22                  75     65              79         51
99   2020-11-29                  76     68              87         55
100  2020-12-06                  79     71              83         57
101  2020-12-13                  77     68              84         51
102  2020-12-20                  81     66              87         46

     action_adventure  campaigns_elections  celebs  discrimination  \
83                 77                    1      59              33
84                 61                    1      60              23
85                 81                    1      75              19
86                 86                    0      50              23
87                 85                    1      53              31
88                 74                    1      53              36
89                 70                    1      48              24
90                 57                    2      75              33
91                 66                    2      74              23
92                 56                    2      55              23
93                 57                    3      66              18
94                100                    3      60              30
95                 77                  100     100              16
96                 58                    8      81              30
97                 75                    2      63              18
98                 71                    1      67               6
99                 63                    1      67              11
100                86                    1      61              14
101                66                    1      61              19
102                71                    0      71              11

     entertainment_media  ...  mobiles  online_vids  scifi_fantasy  \
83                    60  ...       50           64             45
84                    73  ...       68           78             38
85                    72  ...       65           75             63
86                    69  ...       57           83             56
87                    78  ...       58           85             60
88                    64  ...       67           89             48
89                    62  ...       67           85             43
90                    58  ...       63           76             56
91                    60  ...       61           73             43
92                    51  ...       85           71             47
93                    80  ...       74           66             49
94                    44  ...       65           70             79
95                    52  ...       63           62             50
96                    42  ...       73           70             66
97                    55  ...       54           62             62
98                    62  ...       69           71             69
99                    66  ...       74           64             73
100                   68  ...       75           71             88
101                   57  ...       72           67             86
102                   77  ...       82           72            100

     sport_news  tv_shows  voice_vid_chat  weather  covid_cases  stay_at_home  \
83           42        73              31       38        30638         False
84           57        69              43       25        33885         False
85           54        69              52       29        36856         False
86           45        71              57       32        41048         False
87           43        76              43       48        45220         False
88           54        72              42       24        48386         False
89           49        75              42       24        52285         False
90           71        72              43       35        56592         False
91           58        75              37       25        61111         False
92           50        66              59       32        65807         False
93           46        71              45       45        70855         False
94           51        68              58       47        76230         False
95           43        56              48       26        85181         False
96           42        86              42       38        97633         False
97           27        75              51       32       115507         False
98           46        69              41       32       134533         False
99           48        71              72       34       153021         False
100          47        78              60       31       168295         False
101          59        69              65       35       185294         False
102          56        80              35       34       200426         False

     mass_gathering_ban
83                False
84                False
85                False
86                False
87                False
88                False
89                False
90                False
91                False
92                False
93                False
94                False
95                False
96                False
97                False
98                False
99                False
100               False
101               False
102               False

[20 rows x 25 columns]
2019-01-06
2019-01-13
2019-01-20
2019-01-27
2019-02-03
2019-02-10
2019-02-17
2019-02-24
2019-03-03
2019-03-10
2019-03-17
2019-03-24
2019-03-31
2019-04-07
2019-04-14
2019-04-21
2019-04-28
2019-05-05
2019-05-12
2019-05-19
2019-05-26
2019-06-02
2019-06-09

2019-06-16
2019-06-23
2019-06-30
2019-07-07
2019-07-14
2019-07-21
2019-07-28
2019-08-04
2019-08-11
2019-08-18
2019-08-25
2019-09-01
2019-09-08
2019-09-15
2019-09-22
2019-09-29
2019-10-06
2019-10-13
2019-10-20
2019-10-27
2019-11-03
2019-11-10
2019-11-17
2019-11-24
2019-12-01
2019-12-08
2019-12-15
2019-12-22
2019-12-29
2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
           time  arts_entertainment  autos  beauty_fitness  books_lit  \
83   2020-08-09                  77     80              77         56
84   2020-08-16                  75     79              71         57
85   2020-08-23                  84     77              70         71
86   2020-08-30                  82     78              73         85
87   2020-09-06                  79     73              74         75
88   2020-09-13                  79     71              70         80
89   2020-09-20                  76     68              67         77
90   2020-09-27                  73     65              65         67
91   2020-10-04                  73     66              65         61
92   2020-10-11                  71     68              65         55
93   2020-10-18                  71     67              65         60
94   2020-10-25                  73     63              69         55
95   2020-11-01                  64     54              58         49
96   2020-11-08                  74     63              71         56
97   2020-11-15                  70     63              67         56
98   2020-11-22                  70     59              66         50
99   2020-11-29                  74     62              70         55
100  2020-12-06                  74     63              72         55
101  2020-12-13                  73     63              74         56
102  2020-12-20                  77     60              69         48

     action_adventure  campaigns_elections  celebs  discrimination  \
83                 60                    1      70              41
84                 59                    1      71              24
85                 75                    1      75              35
86                 75                    1      64              21
87                 66                    1      62              24
88                 61                    1      54              28
89                 62                    2      57              45
90                 52                    2      83              29
91                 52                    2      75              28
92                 52                    2      57              26
93                 66                    3      69              23
94                 89                    3      61              33
95                 65                  100     100              20
96                 62                    9      88              35
97                 52                    2      64              19
98                 54                    1      66              12
99                 59                    1      67              19
100                54                    1      59              19
101                60                    1      69              17
102                56                    0      70               9

     entertainment_media  ...  mobiles  online_vids  scifi_fantasy  \
83                    69  ...       62           61             38
84                    79  ...       58           66             55
85                    86  ...       62           94             53
86                    77  ...       70          100             51
87                    82  ...       55           78             61
88                    78  ...       65           82             42
89                    64  ...       57           82             57
90                    64  ...       48           69             38
91                    65  ...       49           66             47
92                    65  ...       68           58             40
93                    64  ...       63           66             45
94                    60  ...       62           63             69
95                    47  ...       54           55             53
96                    65  ...       63           61             43
97                    56  ...       59           63             53
98                    65  ...       53           53             51
99                    64  ...       55           61             62
100                   70  ...       57           62             69
101                   72  ...       63           63             73
102                   69  ...       56           61             76

     sport_news  tv_shows  voice_vid_chat  weather  covid_cases  stay_at_home  \
83           33        74              65       51        34982         False
84           96        68              38       49        39315         False
85           57        79              46       54        43529         False
86           65        74              57       49        48032         False
87           57        74              46       36        52774         False
88           66        74              45       37        56945         False
89           66        71              44       33        61542         False
90           52        66              25       41        66491         False
91           51        71              38       44        72617         False
92           54        68              31       49        80292         False
93           42        65              43       54        87607         False
94           52        67              31       49        96942         False
95           41        61              31       33       108642         False
96           41        92              41       43       120838         False
97           41        69              41       41       137586         False
98           32        70              39       43       158100         False
99           39        67              59       49       176925         False
100          42        72              45       37       200632         False
101          44        70              75       49       223104         False
102          41        71              29       53       242321         False

     mass_gathering_ban
83                False
84                False
85                False
86                False
87                False
88                False
89                False
90                False
91                False
92                False
93                False
94                False
95                False
96                False
97                False
98                False
99                False
100               False
101               False
102               False

[20 rows x 25 columns]
2019-01-06
2019-01-13
2019-01-20
2019-01-27
2019-02-03
2019-02-10
2019-02-17
2019-02-24
2019-03-03
2019-03-10
2019-03-17
2019-03-24
2019-03-31
2019-04-07
2019-04-14
2019-04-21
2019-04-28
2019-05-05
2019-05-12
2019-05-19
2019-05-26
2019-06-02
2019-06-09
2019-06-16
2019-06-23
2019-06-30
2019-07-07
2019-07-14
2019-07-21
2019-07-28
2019-08-04
2019-08-11
2019-08-18
2019-08-25
2019-09-01
2019-09-08
2019-09-15
2019-09-22
2019-09-29
2019-10-06
2019-10-13
2019-10-20
2019-10-27
2019-11-03
2019-11-10
2019-11-17
2019-11-24
2019-12-01
2019-12-08
2019-12-15
2019-12-22
2019-12-29
2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01
           time  arts_entertainment  autos  beauty_fitness  books_lit  \
83   2020-08-09                  88     89              81         67
84   2020-08-16                  86     87              78         79
85   2020-08-23                  85     76              73         62
86   2020-08-30                  83     80              75         75
87   2020-09-06                  85     85              76         80
88   2020-09-13                  83     81              73         83
89   2020-09-20                  85     82              74         93
90   2020-09-27                  80     83              72         74
91   2020-10-04                  80     77              68         75
92   2020-10-11                  77     78              70         66
93   2020-10-18                  81     84              72         65
94   2020-10-25                  76     73              66         63
95   2020-11-01                  70     67              60         53
96   2020-11-08                  80     77              72         63
97   2020-11-15                  79     76              71         61
98   2020-11-22                  74     71              72         55
99   2020-11-29                  79     74              79         64
100  2020-12-06                  82     74              75         67
101  2020-12-13                  78     75              75         63
102  2020-12-20                  82     74              79         56

     action_adventure  campaigns_elections  celebs  discrimination  \
83                 85                    1      71              29
84                 73                    1      74              30
85                 77                    1      76              19
86                 75                    1      65              19
87                 82                    1      59              17
88                 77                    1      58              17
89                 71                    2      61              28
90                 64                    2      79              19
91                 71                    2      86              25
92                 63                    2      55              22
93                 73                    4      72              26
94                100                    3      53              27
95                 78                  100     100              26
96                 66                    9      85              40
97                 60                    3      71              21
98                 70                    1      59              11
99                 73                    1      62              12
100                70                    1      54              14
101                64                    1      59              14
102                72                    0      63              15

     entertainment_media  ...  mobiles  online_vids  scifi_fantasy  \
83                    71  ...       69           89             47
84                    67  ...       63           92             43
85                    75  ...       69           79             49
86                    63  ...       57           84             50
87                    59  ...       59           91             64
88                    71  ...       67           98             70
89                    72  ...       68           94             61
90                    57  ...       59           80             51
91                    52  ...       52           82             70
92                    48  ...       80           71             51
93                    51  ...       70           71             58
94                    53  ...       66           67             64
95                    43  ...       56           67             43
96                    63  ...       69           74             68
97                    66  ...       62           75             71
98                    68  ...       58           65             57
99                    60  ...       67           75             64
100                   68  ...       63           71             73
101                   67  ...       66           77             83
102                   74  ...       68           78             92

     sport_news  tv_shows  voice_vid_chat  weather  covid_cases  stay_at_home  \
83           49        74              51       27       131399         False
84           69        69              65       32       137918         False
85           41        70              47       97       142943         False
86           53        68              61       24       148568         False
87           57        73              69       27       153764         False
88           52        75              79       48       158390         False
89           72        74              58       40       162258         False
90           52        65              58       24       166075         False
91           56        67              51       62       169719         False
92           53        68              56       23       174587         False
93           55        62              46       27       178869         False
94           51        62              46       44       183575         False
95           50        60              48       22       187720         False
96           42        86              55       24       192981         False
97           42        66              35       22       204513         False
98           48        67              54       36       220192         False
99           40        67              67       36       232245         False
100          48        73              65       29       251123         False
101          68        62              66       38       268613         False
102          56        69              37       35       286145         False

     mass_gathering_ban
83                False
84                False
85                False
86                False
87                False
88                False
89                False
90                False
91                False
92                False
93                False
94                False
95                False
96                False
97                False
98                False
99                False
100               False
101               False
102               False

[20 rows x 25 columns]
2019-01-06
2019-01-13
2019-01-20
2019-01-27
2019-02-03
2019-02-10
2019-02-17
2019-02-24
2019-03-03
2019-03-10
2019-03-17
2019-03-24
2019-03-31
2019-04-07
2019-04-14
2019-04-21
2019-04-28
2019-05-05
2019-05-12
2019-05-19
2019-05-26
2019-06-02
2019-06-09
2019-06-16
2019-06-23
2019-06-30
2019-07-07
2019-07-14
2019-07-21
2019-07-28
2019-08-04
2019-08-11
2019-08-18
2019-08-25
2019-09-01
2019-09-08
2019-09-15
2019-09-22
2019-09-29
2019-10-06
2019-10-13
2019-10-20
2019-10-27
2019-11-03
2019-11-10
2019-11-17
2019-11-24
2019-12-01
2019-12-08
2019-12-15
2019-12-22
2019-12-29
2020-01-05
2020-01-12
2020-01-19
2020-01-26
2020-02-02
2020-02-09
2020-02-16
2020-02-23
2020-03-01

           time  arts_entertainment  autos  beauty_fitness  books_lit  \
83   2020-08-09                  84     98              82         53
84   2020-08-16                  84     94              88         50
85   2020-08-23                  84     94              89         54
86   2020-08-30                  83     88              83         58
87   2020-09-06                  82     86              89         70
88   2020-09-13                  84     83              84         77
89   2020-09-20                  79     84              83         78
90   2020-09-27                  82     79              83         70
91   2020-10-04                  81     77              77         67
92   2020-10-11                  76     77              78         50
93   2020-10-18                  74     70              77         46
94   2020-10-25                  76     69              76         48
95   2020-11-01                  70     58              67         36
96   2020-11-08                  78     68              79         53
97   2020-11-15                  75     66              71         52
98   2020-11-22                  78     64              72         43
99   2020-11-29                  75     63              77         56
100  2020-12-06                  73     64              76         56
101  2020-12-13                  73     61              70         51
102  2020-12-20                  76     60              78         48

     action_adventure  campaigns_elections  celebs  discrimination  \
83                 60                    1      56              60
84                 61                    1      67              34
85                 76                    1      67              21
86                 66                    1      54              31
87                 69                    1      55              18
88                 51                    1      48              23
89                 47                    2      47              38
90                 49                    3      88              31
91                 51                    3     100              37
92                 42                    2      58              22
93                 45                    3      57              11
94                100                    2      49              38
95                 56                  100      92              28
96                 52                    9      88              30
97                 55                    2      53              16
98                 66                    1      57              19
99                 47                    1      53              24
100                52                    1      47              13
101                38                    1      53              16
102                46                    0      59              12

     entertainment_media  ...  mobiles  online_vids  scifi_fantasy  \
83                    56  ...       59           74             50
84                    77  ...       61           78             39
85                    60  ...       64           76             39
86                    48  ...       57           73             42
87                    64  ...       48           79             50
88                    71  ...       51           83             67
89                    56  ...       63           77             41
90                    55  ...       47           79             31
91                    43  ...       48           74             24
92                    45  ...       72           60             51
93                    45  ...       58           57             33
94                    40  ...       56           68             64
95                    38  ...       52           62             47
96                    56  ...       54           69             52
97                    48  ...       55           63             44
98                    61  ...       49           61             67
99                    43  ...       55           52             72
100                   44  ...       49           66             83
101                   46  ...       55           72             57
102                   65  ...       58           71             64

     sport_news  tv_shows  voice_vid_chat  weather  covid_cases  stay_at_home  \
83           42        79              29       56         4042         False
84           75        74              24       69         4168         False
85           74        83              58       74         4335         False
86           60        87              28       54         4512         False
87           66        79              24       51         4682         False
88           79        78              28       52         4863         False
89           57        83              28       46         5079         False
90           74        73              34       60         5288         False
91           54        80              15       51         5519         False
92           52        77              46       64         5723         False
93           62        75              31       48         5939         False
94           57        73              15       58         6201         False
95           39        62              14       42         6715         False
96           31        98              25       47         7693         False
97           25        73              40       45         8944         False
98           46        85              39       53        10359         False
99           40        69              64       69        11508         False
100          25        76              55       54        13348         False
101          36        73              70       79        15923         False
102          48        75              22       59        18946         False

     mass_gathering_ban
83                False
84                False
85                False
86                False
87                False
88                False
89                False
90                False
91                False
92                False
93                False
94                False
95                False
96                False
97                False
98                False
99                False
100               False
101               False
102               False

[20 rows x 25 columns]

In [25]:
#defining a funct for appending whether stay at home orders or gathering bans are happening
def value_changer(index_no):
    print(sah_data_df[sah_data_df['state_name'] == state_names[index_no]]) 
    query = input('is there a stay at home order? Yes/No')
    if query == 'Yes':
        start_month = input('start month')
        end_month = input('end month')
        print(months_dates_dict[f'2020-{start_month}'])
        print(months_dates_dict[f'2020-{end_month}'])
        val1 = int(input('start index'))
        val2 = int(input('end index(first index after the end of the ban)'))
        response = input('gathering ban? Yes/No')
        if response == 'Yes':
            for x in range(val1, val2):
                states_df_dict[f'{state_codes[index_no]}_data_df'].iat[x, -2] = 'True'
                states_df_dict[f'{state_codes[index_no]}_data_df'].iat[x, -1] = 'True'
        elif response == 'No':
            for x in range(val1, val2):
                states_df_dict[f'{state_codes[index_no]}_data_df'].iat[x, -2] = 'True'
        print(states_df_dict[f'{state_codes[index_no]}_data_df'].iloc[(val1-2):(val2+2), :])
    elif query == 'No':
        print(f'{state_codes[index_no]}_data_df has no bans')
        print(states_df_dict[f'{state_codes[index_no]}_data_df'].tail(10))
    else:
        ask = input('Did you make a mistake?Yes/No')
        if ask == 'Yes':
            value_changer(index_no)
        else:
            print(f'{state_codes[index_no]}_data_df has no bans')
            print(states_df_dict[f'{state_codes[index_no]}_data_df'].tail(10))

In [ ]:
#calling the funct for all of the states ind 11-20
for x in range(11, 20):
    value_changer(x)

  state_name start_date   end_date gathering_bans previous_orders_start_date  \
0     Hawaii  4/25/2020  5/31/2020            NaN                        NaN

  previous_orders_end_date
0                      NaN
is there a stay at home order? Yes/NoHawaii
Did you make a mistake?Yes/Nono
HI_data_df has no bans
           time  arts_entertainment  autos  beauty_fitness  books_lit  \
93   2020-10-18                  76     76              78         63
94   2020-10-25                  75     75              78         67
95   2020-11-01                  70     67              71         62
96   2020-11-08                  77     79              78         61
97   2020-11-15                  79     76              76         63
98   2020-11-22                  80     75              76         59
99   2020-11-29                  77     76              76         70
100  2020-12-06                  73     74              74         67
101  2020-12-13                  72     72              71         57
102  2020-12-20                  83     81              78         53

     action_adventure  campaigns_elections  celebs  discrimination  \
93                 63                    2      73              21
94                 90                    2      71              30
95                 81                  100     100              18
96                 74                    9      90              28
97                 49                    2      75              21
98                 52                    1      67              14
99                 61                    1      66              14
100                63                    1      58               9
101                61                    1      58              19
102                50                    0      69               8

     entertainment_media  ...  mobiles  online_vids  scifi_fantasy  \
93                    53  ...       72           68             38
94                    63  ...       58           61             62
95                    46  ...       55           62             51
96                    44  ...       57           74             67
97                    54  ...       57           71             48
98                    68  ...       65           57             66
99                    48  ...       65           62             79
100                   53  ...       63           60             52
101                   41  ...       55           62             59
102                   82  ...       62           67             83

     sport_news  tv_shows  voice_vid_chat  weather  covid_cases  stay_at_home  \
93           50        70              17       33        14143         False
94           44        71              42       36        14758         False
95           51        74              28       21        15284         False
96           58        81              21       24        16051         False
97           35        73              25       27        16759         False
98           33        80              29       34        17483         False
99           51        75              61       26        18138         False
100          41        62              17       22        18842         False
101          40        73              30       27        19599         False
102          34        79              14       30        20615         False

     mass_gathering_ban
93                False
94                False
95                False
96                False
97                False
98                False
99                False
100               False
101               False
102               False

[10 rows x 25 columns]
  state_name start_date   end_date gathering_bans previous_orders_start_date  \
8      Idaho  4/15/2020  4/30/2020       Any size                  3/25/2020

  previous_orders_end_date
8                4/15/2020

In [ ]:
#outputting the dfs back out
for x in range(11,20):
    output_path = f'../sarah/google_trends/google_trends_csvs/state_csvs/US-{state_codes[x]}_cat_data.csv'
    states_df_dict[f'{state_codes[x]}_data_df'].to_csv(output_path, index=False)

In [ ]:
#test re-reading back in
path = f'../google_trends/google_trends_csvs/state_csvs/US-WV_cat_data.csv'
test_WV_df = pd.read_csv(path)
test_WV_df.tail(20)