In [47]:
#dependencies
import pandas as pd
import numpy as np

In [48]:
path = '../sarah/google_trends/statesAbbrev.csv'
statesAbbrev_df = pd.read_csv(path)
statesAbbrev_df.tail(12)

             State Abbrev Code
39    Rhode Island   R.I.   RI
40  South Carolina   S.C.   SC
41    South Dakota   S.D.   SD
42       Tennessee  Tenn.   TN
43           Texas   Tex.   TX
44            Utah   Utah   UT
45         Vermont    Vt.   VT
46        Virginia    Va.   VA
47      Washington  Wash.   WA
48   West Virginia  W.Va.   WV
49       Wisconsin   Wis.   WI
50         Wyoming   Wyo.   WY

In [49]:
#list for state codes
state_codes = [x for x in statesAbbrev_df['Code']]

In [50]:
#creating a df dict to hold the state dfs, reading in the dfs
states_df_dict = {}
for x in range(11, 21):
    path = f'../sarah/google_trends/google_trends_csvs/state_csvs/US-{state_codes[x]}_cat_data.csv'
    states_df_dict[f'{state_codes[x]}_data_df'] = [pd.read_csv(path)]

In [51]:

#inspecting the keys (ie df names)
states_df_dict.keys()

dict_keys(['HI_data_df', 'ID_data_df', 'IL_data_df', 'IN_data_df', 'IA_data_df', 'KS_data_df', 'KY_data_df', 'LA_data_df', 'ME_data_df', 'MD_data_df'])

In [52]:
#test printing a df
print(state_codes[11])
states_df_dict[f'{state_codes[11]}_data_df'][0].head(10)

HI

,time,arts_entertainment,autos,beauty_fitness,books_lit,action_adventure,campaigns_elections,celebs,discrimination,entertainment_media,...,mobiles,online_vids,scifi_fantasy,sport_news,tv_shows,voice_vid_chat,weather,covid_cases,stay_at_home,mass_gathering_ban
0,2019-01-06,100,84,100,90,82,0,87,13,90,...,68,83,27,83,96,33,36,NaN,False,False
1,2019-01-13,98,82,96,91,80,0,85,24,68,...,62,86,61,56,85,14,49,NaN,False,False
2,2019-01-20,92,84,89,89,70,0,76,31,77,...,56,98,53,72,80,9,43,NaN,False,False
3,2019-01-27,93,82,90,92,71,0,70,29,65,...,63,74,31,35,90,14,77,NaN,False,False
4,2019-02-03,94,89,96,91,83,0,67,26,65,...,61,83,27,62,91,32,56,NaN,False,False
5,2019-02-10,96,78,91,84,71,0,67,18,57,...,66,71,17,60,79,60,100,NaN,False,False
6,2019-02-17,96,84,93,81,61,0,88,13,67,...,75,77,50,48,88,47,67,NaN,False,False
7,2019-02-24,99,85,90,84,51,0,77,35,70,...,68,74,53,54,87,69,47,NaN,False,False
8,2019-03-03,99,85,96,83,56,0,72,63,69,...,62,80,27,54,88,33,51,NaN,False,False
9,2019-03-10,94,91,100,85,74,0,77,8,61,...,67,84,24,79,100,42,32,NaN,False,False

In [53]:
col_names = list(states_df_dict[f'{state_codes[11]}_data_df'][0].columns)

In [54]:
col_names_for_max = [x for x in col_names if x not in ['time', 'covid_cases', 'stay_at_home', 'mass_gathering_ban']]

In [55]:
times_list = list(states_df_dict[f'{state_codes[11]}_data_df'][0]['time'])

In [56]:
times_list

['2019-01-06',
 '2019-01-13',
 '2019-01-20',
 '2019-01-27',
 '2019-02-03',
 '2019-02-10',
 '2019-02-17',
 '2019-02-24',
 '2019-03-03',
 '2019-03-10',
 '2019-03-17',
 '2019-03-24',
 '2019-03-31',
 '2019-04-07',
 '2019-04-14',
 '2019-04-21',
 '2019-04-28',
 '2019-05-05',
 '2019-05-12',
 '2019-05-19',
 '2019-05-26',
 '2019-06-02',
 '2019-06-09',
 '2019-06-16',
 '2019-06-23',
 '2019-06-30',
 '2019-07-07',
 '2019-07-14',
 '2019-07-21',
 '2019-07-28',
 '2019-08-04',
 '2019-08-11',
 '2019-08-18',
 '2019-08-25',
 '2019-09-01',
 '2019-09-08',
 '2019-09-15',
 '2019-09-22',
 '2019-09-29',
 '2019-10-06',
 '2019-10-13',
 '2019-10-20',
 '2019-10-27',
 '2019-11-03',
 '2019-11-10',
 '2019-11-17',
 '2019-11-24',
 '2019-12-01',
 '2019-12-08',
 '2019-12-15',
 '2019-12-22',
 '2019-12-29',
 '2020-01-05',
 '2020-01-12',
 '2020-01-19',
 '2020-01-26',
 '2020-02-02',
 '2020-02-09',
 '2020-02-16',
 '2020-02-23',
 '2020-03-01',
 '2020-03-08',
 '2020-03-15',
 '2020-03-22',
 '2020-03-29',
 '2020-04-05',
 '2020-04-12',
 '2020-04-19',
 '2020-04-26',
 '2020-05-03',
 '2020-05-10',
 '2020-05-17',
 '2020-05-24',
 '2020-05-31',
 '2020-06-07',
 '2020-06-14',
 '2020-06-21',
 '2020-06-28',
 '2020-07-05',
 '2020-07-12',
 '2020-07-19',
 '2020-07-26',
 '2020-08-02',
 '2020-08-09',
 '2020-08-16',
 '2020-08-23',
 '2020-08-30',
 '2020-09-06',
 '2020-09-13',
 '2020-09-20',
 '2020-09-27',
 '2020-10-04',
 '2020-10-11',
 '2020-10-18',
 '2020-10-25',
 '2020-11-01',
 '2020-11-08',
 '2020-11-15',
 '2020-11-22',
 '2020-11-29',
 '2020-12-06',
 '2020-12-13',
 '2020-12-20']

In [57]:
max_per_col_dict = {}
for x in range(0, len(col_names_for_max)):
    for y in range(0, len(states_df_dict[f'{state_codes[11]}_data_df'][0])):
        if states_df_dict[f'{state_codes[11]}_data_df'][0].iloc[y, x+1] == states_df_dict[f'{state_codes[11]}_data_df'][0][col_names_for_max[x]].max():
            max_per_col_dict[f'{col_names_for_max[x]}'] = (times_list[y])

In [58]:
max_per_col_df = pd.DataFrame({'max_date': max_per_col_dict.values(), 'cat': max_per_col_dict.keys()})

In [59]:
len(max_per_col_df)

21

In [60]:
states_df_dict[f'{state_codes[11]}_data_df'].append(max_per_col_df)

In [61]:
states_df_dict[f'{state_codes[11]}_data_df'][1]

,max_date,cat
0,"(2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...","(arts_entertainment, autos, beauty_fitness, bo..."
1,"(2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...","(arts_entertainment, autos, beauty_fitness, bo..."
2,"(2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...","(arts_entertainment, autos, beauty_fitness, bo..."
3,"(2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...","(arts_entertainment, autos, beauty_fitness, bo..."
4,"(2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...","(arts_entertainment, autos, beauty_fitness, bo..."
5,"(2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...","(arts_entertainment, autos, beauty_fitness, bo..."
6,"(2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...","(arts_entertainment, autos, beauty_fitness, bo..."
7,"(2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...","(arts_entertainment, autos, beauty_fitness, bo..."
8,"(2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...","(arts_entertainment, autos, beauty_fitness, bo..."
9,"(2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...","(arts_entertainment, autos, beauty_fitness, bo..."
10,"(2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...","(arts_entertainment, autos, beauty_fitness, bo..."
11,"(2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...","(arts_entertainment, autos, beauty_fitness, bo..."
12,"(2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...","(arts_entertainment, autos, beauty_fitness, bo..."
13,"(2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...","(arts_entertainment, autos, beauty_fitness, bo..."
14,"(2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...","(arts_entertainment, autos, beauty_fitness, bo..."
15,"(2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...","(arts_entertainment, autos, beauty_fitness, bo..."
16,"(2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...","(arts_entertainment, autos, beauty_fitness, bo..."
17,"(2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...","(arts_entertainment, autos, beauty_fitness, bo..."
18,"(2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...","(arts_entertainment, autos, beauty_fitness, bo..."
19,"(2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...","(arts_entertainment, autos, beauty_fitness, bo..."
20,"(2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...","(arts_entertainment, autos, beauty_fitness, bo..."

In [62]:
def get_max_col_dates(ind_num):
    max_per_col_dict = {}
    for x in range(0, len(col_names_for_max)):
        for y in range(0, len(states_df_dict[f'{state_codes[ind_num]}_data_df'][0])):
            # x+1 here because column 0 in the list is a cat, but col 0 on the df is 'time', so moving over index by one to get correct col
            if states_df_dict[f'{state_codes[ind_num]}_data_df'][0].iloc[y, x+1] == states_df_dict[f'{state_codes[ind_num]}_data_df'][0][col_names_for_max[x]].max():
                max_per_col_dict[f'{col_names_for_max[x]}'] = (times_list[y])
    max_per_col_df = pd.DataFrame({'max_date': max_per_col_dict.values(), 'cat': max_per_col_dict.keys()})
    states_df_dict[f'{state_codes[ind_num]}_data_df'].append(max_per_col_df)

In [63]:
for x in range(11, 21):
    get_max_col_dates(x)
    print(states_df_dict[f'{state_codes[x]}_data_df'][1])

                                             max_date  \
0   (2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...
1   (2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...
2   (2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...
3   (2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...
4   (2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...
5   (2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...
6   (2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...
7   (2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...
8   (2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...
9   (2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...
10  (2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...
11  (2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...
12  (2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...
13  (2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...
14  (2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...
15  (2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...
16  (2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...
17  (2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...
18  (2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...
19  (2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...
20  (2019-12-22, 2019-09-08, 2019-07-21, 2020-09-1...

                                                  cat
0   (arts_entertainment, autos, beauty_fitness, bo...
1   (arts_entertainment, autos, beauty_fitness, bo...
2   (arts_entertainment, autos, beauty_fitness, bo...
3   (arts_entertainment, autos, beauty_fitness, bo...
4   (arts_entertainment, autos, beauty_fitness, bo...
5   (arts_entertainment, autos, beauty_fitness, bo...
6   (arts_entertainment, autos, beauty_fitness, bo...
7   (arts_entertainment, autos, beauty_fitness, bo...
8   (arts_entertainment, autos, beauty_fitness, bo...
9   (arts_entertainment, autos, beauty_fitness, bo...
10  (arts_entertainment, autos, beauty_fitness, bo...
11  (arts_entertainment, autos, beauty_fitness, bo...
12  (arts_entertainment, autos, beauty_fitness, bo...
13  (arts_entertainment, autos, beauty_fitness, bo...
14  (arts_entertainment, autos, beauty_fitness, bo...
15  (arts_entertainment, autos, beauty_fitness, bo...
16  (arts_entertainment, autos, beauty_fitness, bo...
17  (arts_entertainment, autos, beauty_fitness, bo...
18  (arts_entertainment, autos, beauty_fitness, bo...
19  (arts_entertainment, autos, beauty_fitness, bo...
20  (arts_entertainment, autos, beauty_fitness, bo...
                                             max_date  \
0   (2019-12-22, 2019-09-08, 2020-05-17, 2020-02-2...
1   (2019-12-22, 2019-09-08, 2020-05-17, 2020-02-2...
2   (2019-12-22, 2019-09-08, 2020-05-17, 2020-02-2...
3   (2019-12-22, 2019-09-08, 2020-05-17, 2020-02-2...
4   (2019-12-22, 2019-09-08, 2020-05-17, 2020-02-2...
5   (2019-12-22, 2019-09-08, 2020-05-17, 2020-02-2...
6   (2019-12-22, 2019-09-08, 2020-05-17, 2020-02-2...
7   (2019-12-22, 2019-09-08, 2020-05-17, 2020-02-2...
8   (2019-12-22, 2019-09-08, 2020-05-17, 2020-02-2...
9   (2019-12-22, 2019-09-08, 2020-05-17, 2020-02-2...
10  (2019-12-22, 2019-09-08, 2020-05-17, 2020-02-2...
11  (2019-12-22, 2019-09-08, 2020-05-17, 2020-02-2...
12  (2019-12-22, 2019-09-08, 2020-05-17, 2020-02-2...
13  (2019-12-22, 2019-09-08, 2020-05-17, 2020-02-2...
14  (2019-12-22, 2019-09-08, 2020-05-17, 2020-02-2...
15  (2019-12-22, 2019-09-08, 2020-05-17, 2020-02-2...
16  (2019-12-22, 2019-09-08, 2020-05-17, 2020-02-2...
17  (2019-12-22, 2019-09-08, 2020-05-17, 2020-02-2...
18  (2019-12-22, 2019-09-08, 2020-05-17, 2020-02-2...
19  (2019-12-22, 2019-09-08, 2020-05-17, 2020-02-2...
20  (2019-12-22, 2019-09-08, 2020-05-17, 2020-02-2...

                                                  cat
0   (arts_entertainment, autos, beauty_fitness, bo...
1   (arts_entertainment, autos, beauty_fitness, bo...
2   (arts_entertainment, autos, beauty_fitness, bo...
3   (arts_entertainment, autos, beauty_fitness, bo...
4   (arts_entertainment, autos, beauty_fitness, bo...
5   (arts_entertainment, autos, beauty_fitness, bo...
6   (arts_entertainment, autos, beauty_fitness, bo...
7   (arts_entertainment, autos, beauty_fitness, bo...
8   (arts_entertainment, autos, beauty_fitness, bo...
9   (arts_entertainment, autos, beauty_fitness, bo...
10  (arts_entertainment, autos, beauty_fitness, bo...
11  (arts_entertainment, autos, beauty_fitness, bo...
12  (arts_entertainment, autos, beauty_fitness, bo...
13  (arts_entertainment, autos, beauty_fitness, bo...
14  (arts_entertainment, autos, beauty_fitness, bo...
15  (arts_entertainment, autos, beauty_fitness, bo...
16  (arts_entertainment, autos, beauty_fitness, bo...
17  (arts_entertainment, autos, beauty_fitness, bo...
18  (arts_entertainment, autos, beauty_fitness, bo...
19  (arts_entertainment, autos, beauty_fitness, bo...
20  (arts_entertainment, autos, beauty_fitness, bo...
                                             max_date  \
0   (2019-02-24, 2019-09-08, 2019-12-29, 2019-04-2...
1   (2019-02-24, 2019-09-08, 2019-12-29, 2019-04-2...
2   (2019-02-24, 2019-09-08, 2019-12-29, 2019-04-2...
3   (2019-02-24, 2019-09-08, 2019-12-29, 2019-04-2...
4   (2019-02-24, 2019-09-08, 2019-12-29, 2019-04-2...
5   (2019-02-24, 2019-09-08, 2019-12-29, 2019-04-2...
6   (2019-02-24, 2019-09-08, 2019-12-29, 2019-04-2...
7   (2019-02-24, 2019-09-08, 2019-12-29, 2019-04-2...
8   (2019-02-24, 2019-09-08, 2019-12-29, 2019-04-2...
9   (2019-02-24, 2019-09-08, 2019-12-29, 2019-04-2...
10  (2019-02-24, 2019-09-08, 2019-12-29, 2019-04-2...
11  (2019-02-24, 2019-09-08, 2019-12-29, 2019-04-2...
12  (2019-02-24, 2019-09-08, 2019-12-29, 2019-04-2...
13  (2019-02-24, 2019-09-08, 2019-12-29, 2019-04-2...
14  (2019-02-24, 2019-09-08, 2019-12-29, 2019-04-2...
15  (2019-02-24, 2019-09-08, 2019-12-29, 2019-04-2...
16  (2019-02-24, 2019-09-08, 2019-12-29, 2019-04-2...
17  (2019-02-24, 2019-09-08, 2019-12-29, 2019-04-2...
18  (2019-02-24, 2019-09-08, 2019-12-29, 2019-04-2...
19  (2019-02-24, 2019-09-08, 2019-12-29, 2019-04-2...
20  (2019-02-24, 2019-09-08, 2019-12-29, 2019-04-2...

                                                  cat
0   (arts_entertainment, autos, beauty_fitness, bo...
1   (arts_entertainment, autos, beauty_fitness, bo...
2   (arts_entertainment, autos, beauty_fitness, bo...
3   (arts_entertainment, autos, beauty_fitness, bo...
4   (arts_entertainment, autos, beauty_fitness, bo...
5   (arts_entertainment, autos, beauty_fitness, bo...
6   (arts_entertainment, autos, beauty_fitness, bo...
7   (arts_entertainment, autos, beauty_fitness, bo...
8   (arts_entertainment, autos, beauty_fitness, bo...
9   (arts_entertainment, autos, beauty_fitness, bo...
10  (arts_entertainment, autos, beauty_fitness, bo...
11  (arts_entertainment, autos, beauty_fitness, bo...
12  (arts_entertainment, autos, beauty_fitness, bo...
13  (arts_entertainment, autos, beauty_fitness, bo...
14  (arts_entertainment, autos, beauty_fitness, bo...
15  (arts_entertainment, autos, beauty_fitness, bo...
16  (arts_entertainment, autos, beauty_fitness, bo...
17  (arts_entertainment, autos, beauty_fitness, bo...
18  (arts_entertainment, autos, beauty_fitness, bo...
19  (arts_entertainment, autos, beauty_fitness, bo...
20  (arts_entertainment, autos, beauty_fitness, bo...
                                             max_date  \
0   (2019-08-18, 2019-09-01, 2020-05-17, 2019-04-1...
1   (2019-08-18, 2019-09-01, 2020-05-17, 2019-04-1...
2   (2019-08-18, 2019-09-01, 2020-05-17, 2019-04-1...
3   (2019-08-18, 2019-09-01, 2020-05-17, 2019-04-1...
4   (2019-08-18, 2019-09-01, 2020-05-17, 2019-04-1...
5   (2019-08-18, 2019-09-01, 2020-05-17, 2019-04-1...
6   (2019-08-18, 2019-09-01, 2020-05-17, 2019-04-1...
7   (2019-08-18, 2019-09-01, 2020-05-17, 2019-04-1...
8   (2019-08-18, 2019-09-01, 2020-05-17, 2019-04-1...
9   (2019-08-18, 2019-09-01, 2020-05-17, 2019-04-1...
10  (2019-08-18, 2019-09-01, 2020-05-17, 2019-04-1...
11  (2019-08-18, 2019-09-01, 2020-05-17, 2019-04-1...
12  (2019-08-18, 2019-09-01, 2020-05-17, 2019-04-1...
13  (2019-08-18, 2019-09-01, 2020-05-17, 2019-04-1...
14  (2019-08-18, 2019-09-01, 2020-05-17, 2019-04-1...
15  (2019-08-18, 2019-09-01, 2020-05-17, 2019-04-1...
16  (2019-08-18, 2019-09-01, 2020-05-17, 2019-04-1...
17  (2019-08-18, 2019-09-01, 2020-05-17, 2019-04-1...
18  (2019-08-18, 2019-09-01, 2020-05-17, 2019-04-1...
19  (2019-08-18, 2019-09-01, 2020-05-17, 2019-04-1...
20  (2019-08-18, 2019-09-01, 2020-05-17, 2019-04-1...

                                                  cat
0   (arts_entertainment, autos, beauty_fitness, bo...
1   (arts_entertainment, autos, beauty_fitness, bo...
2   (arts_entertainment, autos, beauty_fitness, bo...
3   (arts_entertainment, autos, beauty_fitness, bo...
4   (arts_entertainment, autos, beauty_fitness, bo...
5   (arts_entertainment, autos, beauty_fitness, bo...
6   (arts_entertainment, autos, beauty_fitness, bo...
7   (arts_entertainment, autos, beauty_fitness, bo...
8   (arts_entertainment, autos, beauty_fitness, bo...
9   (arts_entertainment, autos, beauty_fitness, bo...
10  (arts_entertainment, autos, beauty_fitness, bo...
11  (arts_entertainment, autos, beauty_fitness, bo...
12  (arts_entertainment, autos, beauty_fitness, bo...
13  (arts_entertainment, autos, beauty_fitness, bo...
14  (arts_entertainment, autos, beauty_fitness, bo...
15  (arts_entertainment, autos, beauty_fitness, bo...
16  (arts_entertainment, autos, beauty_fitness, bo...
17  (arts_entertainment, autos, beauty_fitness, bo...
18  (arts_entertainment, autos, beauty_fitness, bo...
19  (arts_entertainment, autos, beauty_fitness, bo...
20  (arts_entertainment, autos, beauty_fitness, bo...

                                             max_date  \
0   (2019-02-24, 2020-06-07, 2020-05-17, 2019-04-2...
1   (2019-02-24, 2020-06-07, 2020-05-17, 2019-04-2...
2   (2019-02-24, 2020-06-07, 2020-05-17, 2019-04-2...
3   (2019-02-24, 2020-06-07, 2020-05-17, 2019-04-2...
4   (2019-02-24, 2020-06-07, 2020-05-17, 2019-04-2...
5   (2019-02-24, 2020-06-07, 2020-05-17, 2019-04-2...
6   (2019-02-24, 2020-06-07, 2020-05-17, 2019-04-2...
7   (2019-02-24, 2020-06-07, 2020-05-17, 2019-04-2...
8   (2019-02-24, 2020-06-07, 2020-05-17, 2019-04-2...
9   (2019-02-24, 2020-06-07, 2020-05-17, 2019-04-2...
10  (2019-02-24, 2020-06-07, 2020-05-17, 2019-04-2...
11  (2019-02-24, 2020-06-07, 2020-05-17, 2019-04-2...
12  (2019-02-24, 2020-06-07, 2020-05-17, 2019-04-2...
13  (2019-02-24, 2020-06-07, 2020-05-17, 2019-04-2...
14  (2019-02-24, 2020-06-07, 2020-05-17, 2019-04-2...
15  (2019-02-24, 2020-06-07, 2020-05-17, 2019-04-2...
16  (2019-02-24, 2020-06-07, 2020-05-17, 2019-04-2...
17  (2019-02-24, 2020-06-07, 2020-05-17, 2019-04-2...
18  (2019-02-24, 2020-06-07, 2020-05-17, 2019-04-2...
19  (2019-02-24, 2020-06-07, 2020-05-17, 2019-04-2...
20  (2019-02-24, 2020-06-07, 2020-05-17, 2019-04-2...

                                                  cat
0   (arts_entertainment, autos, beauty_fitness, bo...
1   (arts_entertainment, autos, beauty_fitness, bo...
2   (arts_entertainment, autos, beauty_fitness, bo...
3   (arts_entertainment, autos, beauty_fitness, bo...
4   (arts_entertainment, autos, beauty_fitness, bo...
5   (arts_entertainment, autos, beauty_fitness, bo...
6   (arts_entertainment, autos, beauty_fitness, bo...
7   (arts_entertainment, autos, beauty_fitness, bo...
8   (arts_entertainment, autos, beauty_fitness, bo...
9   (arts_entertainment, autos, beauty_fitness, bo...
10  (arts_entertainment, autos, beauty_fitness, bo...
11  (arts_entertainment, autos, beauty_fitness, bo...
12  (arts_entertainment, autos, beauty_fitness, bo...
13  (arts_entertainment, autos, beauty_fitness, bo...
14  (arts_entertainment, autos, beauty_fitness, bo...
15  (arts_entertainment, autos, beauty_fitness, bo...
16  (arts_entertainment, autos, beauty_fitness, bo...
17  (arts_entertainment, autos, beauty_fitness, bo...
18  (arts_entertainment, autos, beauty_fitness, bo...
19  (arts_entertainment, autos, beauty_fitness, bo...
20  (arts_entertainment, autos, beauty_fitness, bo...
                                             max_date  \
0   (2019-02-24, 2019-09-08, 2019-02-17, 2019-04-2...
1   (2019-02-24, 2019-09-08, 2019-02-17, 2019-04-2...
2   (2019-02-24, 2019-09-08, 2019-02-17, 2019-04-2...
3   (2019-02-24, 2019-09-08, 2019-02-17, 2019-04-2...
4   (2019-02-24, 2019-09-08, 2019-02-17, 2019-04-2...
5   (2019-02-24, 2019-09-08, 2019-02-17, 2019-04-2...
6   (2019-02-24, 2019-09-08, 2019-02-17, 2019-04-2...
7   (2019-02-24, 2019-09-08, 2019-02-17, 2019-04-2...
8   (2019-02-24, 2019-09-08, 2019-02-17, 2019-04-2...
9   (2019-02-24, 2019-09-08, 2019-02-17, 2019-04-2...
10  (2019-02-24, 2019-09-08, 2019-02-17, 2019-04-2...
11  (2019-02-24, 2019-09-08, 2019-02-17, 2019-04-2...
12  (2019-02-24, 2019-09-08, 2019-02-17, 2019-04-2...
13  (2019-02-24, 2019-09-08, 2019-02-17, 2019-04-2...
14  (2019-02-24, 2019-09-08, 2019-02-17, 2019-04-2...
15  (2019-02-24, 2019-09-08, 2019-02-17, 2019-04-2...
16  (2019-02-24, 2019-09-08, 2019-02-17, 2019-04-2...
17  (2019-02-24, 2019-09-08, 2019-02-17, 2019-04-2...
18  (2019-02-24, 2019-09-08, 2019-02-17, 2019-04-2...
19  (2019-02-24, 2019-09-08, 2019-02-17, 2019-04-2...
20  (2019-02-24, 2019-09-08, 2019-02-17, 2019-04-2...

                                                  cat
0   (arts_entertainment, autos, beauty_fitness, bo...
1   (arts_entertainment, autos, beauty_fitness, bo...
2   (arts_entertainment, autos, beauty_fitness, bo...
3   (arts_entertainment, autos, beauty_fitness, bo...
4   (arts_entertainment, autos, beauty_fitness, bo...
5   (arts_entertainment, autos, beauty_fitness, bo...
6   (arts_entertainment, autos, beauty_fitness, bo...
7   (arts_entertainment, autos, beauty_fitness, bo...
8   (arts_entertainment, autos, beauty_fitness, bo...
9   (arts_entertainment, autos, beauty_fitness, bo...
10  (arts_entertainment, autos, beauty_fitness, bo...
11  (arts_entertainment, autos, beauty_fitness, bo...
12  (arts_entertainment, autos, beauty_fitness, bo...
13  (arts_entertainment, autos, beauty_fitness, bo...
14  (arts_entertainment, autos, beauty_fitness, bo...
15  (arts_entertainment, autos, beauty_fitness, bo...
16  (arts_entertainment, autos, beauty_fitness, bo...
17  (arts_entertainment, autos, beauty_fitness, bo...
18  (arts_entertainment, autos, beauty_fitness, bo...
19  (arts_entertainment, autos, beauty_fitness, bo...
20  (arts_entertainment, autos, beauty_fitness, bo...
                                             max_date  \
0   (2019-10-20, 2019-09-01, 2020-02-23, 2020-02-2...
1   (2019-10-20, 2019-09-01, 2020-02-23, 2020-02-2...
2   (2019-10-20, 2019-09-01, 2020-02-23, 2020-02-2...
3   (2019-10-20, 2019-09-01, 2020-02-23, 2020-02-2...
4   (2019-10-20, 2019-09-01, 2020-02-23, 2020-02-2...
5   (2019-10-20, 2019-09-01, 2020-02-23, 2020-02-2...
6   (2019-10-20, 2019-09-01, 2020-02-23, 2020-02-2...
7   (2019-10-20, 2019-09-01, 2020-02-23, 2020-02-2...
8   (2019-10-20, 2019-09-01, 2020-02-23, 2020-02-2...
9   (2019-10-20, 2019-09-01, 2020-02-23, 2020-02-2...
10  (2019-10-20, 2019-09-01, 2020-02-23, 2020-02-2...
11  (2019-10-20, 2019-09-01, 2020-02-23, 2020-02-2...
12  (2019-10-20, 2019-09-01, 2020-02-23, 2020-02-2...
13  (2019-10-20, 2019-09-01, 2020-02-23, 2020-02-2...
14  (2019-10-20, 2019-09-01, 2020-02-23, 2020-02-2...
15  (2019-10-20, 2019-09-01, 2020-02-23, 2020-02-2...
16  (2019-10-20, 2019-09-01, 2020-02-23, 2020-02-2...
17  (2019-10-20, 2019-09-01, 2020-02-23, 2020-02-2...
18  (2019-10-20, 2019-09-01, 2020-02-23, 2020-02-2...
19  (2019-10-20, 2019-09-01, 2020-02-23, 2020-02-2...
20  (2019-10-20, 2019-09-01, 2020-02-23, 2020-02-2...

                                                  cat
0   (arts_entertainment, autos, beauty_fitness, bo...
1   (arts_entertainment, autos, beauty_fitness, bo...
2   (arts_entertainment, autos, beauty_fitness, bo...
3   (arts_entertainment, autos, beauty_fitness, bo...
4   (arts_entertainment, autos, beauty_fitness, bo...
5   (arts_entertainment, autos, beauty_fitness, bo...
6   (arts_entertainment, autos, beauty_fitness, bo...
7   (arts_entertainment, autos, beauty_fitness, bo...
8   (arts_entertainment, autos, beauty_fitness, bo...
9   (arts_entertainment, autos, beauty_fitness, bo...
10  (arts_entertainment, autos, beauty_fitness, bo...
11  (arts_entertainment, autos, beauty_fitness, bo...
12  (arts_entertainment, autos, beauty_fitness, bo...
13  (arts_entertainment, autos, beauty_fitness, bo...
14  (arts_entertainment, autos, beauty_fitness, bo...
15  (arts_entertainment, autos, beauty_fitness, bo...
16  (arts_entertainment, autos, beauty_fitness, bo...
17  (arts_entertainment, autos, beauty_fitness, bo...
18  (arts_entertainment, autos, beauty_fitness, bo...
19  (arts_entertainment, autos, beauty_fitness, bo...
20  (arts_entertainment, autos, beauty_fitness, bo...
                                             max_date  \
0   (2019-03-31, 2019-09-01, 2020-05-17, 2019-04-2...
1   (2019-03-31, 2019-09-01, 2020-05-17, 2019-04-2...
2   (2019-03-31, 2019-09-01, 2020-05-17, 2019-04-2...
3   (2019-03-31, 2019-09-01, 2020-05-17, 2019-04-2...
4   (2019-03-31, 2019-09-01, 2020-05-17, 2019-04-2...
5   (2019-03-31, 2019-09-01, 2020-05-17, 2019-04-2...
6   (2019-03-31, 2019-09-01, 2020-05-17, 2019-04-2...
7   (2019-03-31, 2019-09-01, 2020-05-17, 2019-04-2...
8   (2019-03-31, 2019-09-01, 2020-05-17, 2019-04-2...
9   (2019-03-31, 2019-09-01, 2020-05-17, 2019-04-2...
10  (2019-03-31, 2019-09-01, 2020-05-17, 2019-04-2...
11  (2019-03-31, 2019-09-01, 2020-05-17, 2019-04-2...
12  (2019-03-31, 2019-09-01, 2020-05-17, 2019-04-2...
13  (2019-03-31, 2019-09-01, 2020-05-17, 2019-04-2...
14  (2019-03-31, 2019-09-01, 2020-05-17, 2019-04-2...
15  (2019-03-31, 2019-09-01, 2020-05-17, 2019-04-2...
16  (2019-03-31, 2019-09-01, 2020-05-17, 2019-04-2...
17  (2019-03-31, 2019-09-01, 2020-05-17, 2019-04-2...
18  (2019-03-31, 2019-09-01, 2020-05-17, 2019-04-2...
19  (2019-03-31, 2019-09-01, 2020-05-17, 2019-04-2...
20  (2019-03-31, 2019-09-01, 2020-05-17, 2019-04-2...

                                                  cat
0   (arts_entertainment, autos, beauty_fitness, bo...
1   (arts_entertainment, autos, beauty_fitness, bo...
2   (arts_entertainment, autos, beauty_fitness, bo...
3   (arts_entertainment, autos, beauty_fitness, bo...
4   (arts_entertainment, autos, beauty_fitness, bo...
5   (arts_entertainment, autos, beauty_fitness, bo...
6   (arts_entertainment, autos, beauty_fitness, bo...
7   (arts_entertainment, autos, beauty_fitness, bo...
8   (arts_entertainment, autos, beauty_fitness, bo...
9   (arts_entertainment, autos, beauty_fitness, bo...
10  (arts_entertainment, autos, beauty_fitness, bo...
11  (arts_entertainment, autos, beauty_fitness, bo...
12  (arts_entertainment, autos, beauty_fitness, bo...
13  (arts_entertainment, autos, beauty_fitness, bo...
14  (arts_entertainment, autos, beauty_fitness, bo...
15  (arts_entertainment, autos, beauty_fitness, bo...
16  (arts_entertainment, autos, beauty_fitness, bo...
17  (arts_entertainment, autos, beauty_fitness, bo...
18  (arts_entertainment, autos, beauty_fitness, bo...
19  (arts_entertainment, autos, beauty_fitness, bo...
20  (arts_entertainment, autos, beauty_fitness, bo...

                                             max_date  \
0   (2020-03-29, 2019-09-01, 2020-05-03, 2019-04-2...
1   (2020-03-29, 2019-09-01, 2020-05-03, 2019-04-2...
2   (2020-03-29, 2019-09-01, 2020-05-03, 2019-04-2...
3   (2020-03-29, 2019-09-01, 2020-05-03, 2019-04-2...
4   (2020-03-29, 2019-09-01, 2020-05-03, 2019-04-2...
5   (2020-03-29, 2019-09-01, 2020-05-03, 2019-04-2...
6   (2020-03-29, 2019-09-01, 2020-05-03, 2019-04-2...
7   (2020-03-29, 2019-09-01, 2020-05-03, 2019-04-2...
8   (2020-03-29, 2019-09-01, 2020-05-03, 2019-04-2...
9   (2020-03-29, 2019-09-01, 2020-05-03, 2019-04-2...
10  (2020-03-29, 2019-09-01, 2020-05-03, 2019-04-2...
11  (2020-03-29, 2019-09-01, 2020-05-03, 2019-04-2...
12  (2020-03-29, 2019-09-01, 2020-05-03, 2019-04-2...
13  (2020-03-29, 2019-09-01, 2020-05-03, 2019-04-2...
14  (2020-03-29, 2019-09-01, 2020-05-03, 2019-04-2...
15  (2020-03-29, 2019-09-01, 2020-05-03, 2019-04-2...
16  (2020-03-29, 2019-09-01, 2020-05-03, 2019-04-2...
17  (2020-03-29, 2019-09-01, 2020-05-03, 2019-04-2...
18  (2020-03-29, 2019-09-01, 2020-05-03, 2019-04-2...
19  (2020-03-29, 2019-09-01, 2020-05-03, 2019-04-2...
20  (2020-03-29, 2019-09-01, 2020-05-03, 2019-04-2...

                                                  cat
0   (arts_entertainment, autos, beauty_fitness, bo...
1   (arts_entertainment, autos, beauty_fitness, bo...
2   (arts_entertainment, autos, beauty_fitness, bo...
3   (arts_entertainment, autos, beauty_fitness, bo...
4   (arts_entertainment, autos, beauty_fitness, bo...
5   (arts_entertainment, autos, beauty_fitness, bo...
6   (arts_entertainment, autos, beauty_fitness, bo...
7   (arts_entertainment, autos, beauty_fitness, bo...
8   (arts_entertainment, autos, beauty_fitness, bo...
9   (arts_entertainment, autos, beauty_fitness, bo...
10  (arts_entertainment, autos, beauty_fitness, bo...
11  (arts_entertainment, autos, beauty_fitness, bo...
12  (arts_entertainment, autos, beauty_fitness, bo...
13  (arts_entertainment, autos, beauty_fitness, bo...
14  (arts_entertainment, autos, beauty_fitness, bo...
15  (arts_entertainment, autos, beauty_fitness, bo...
16  (arts_entertainment, autos, beauty_fitness, bo...
17  (arts_entertainment, autos, beauty_fitness, bo...
18  (arts_entertainment, autos, beauty_fitness, bo...
19  (arts_entertainment, autos, beauty_fitness, bo...
20  (arts_entertainment, autos, beauty_fitness, bo...
                                             max_date  \
0   (2019-02-17, 2019-09-01, 2020-06-07, 2019-04-2...
1   (2019-02-17, 2019-09-01, 2020-06-07, 2019-04-2...
2   (2019-02-17, 2019-09-01, 2020-06-07, 2019-04-2...
3   (2019-02-17, 2019-09-01, 2020-06-07, 2019-04-2...
4   (2019-02-17, 2019-09-01, 2020-06-07, 2019-04-2...
5   (2019-02-17, 2019-09-01, 2020-06-07, 2019-04-2...
6   (2019-02-17, 2019-09-01, 2020-06-07, 2019-04-2...
7   (2019-02-17, 2019-09-01, 2020-06-07, 2019-04-2...
8   (2019-02-17, 2019-09-01, 2020-06-07, 2019-04-2...
9   (2019-02-17, 2019-09-01, 2020-06-07, 2019-04-2...
10  (2019-02-17, 2019-09-01, 2020-06-07, 2019-04-2...
11  (2019-02-17, 2019-09-01, 2020-06-07, 2019-04-2...
12  (2019-02-17, 2019-09-01, 2020-06-07, 2019-04-2...
13  (2019-02-17, 2019-09-01, 2020-06-07, 2019-04-2...
14  (2019-02-17, 2019-09-01, 2020-06-07, 2019-04-2...
15  (2019-02-17, 2019-09-01, 2020-06-07, 2019-04-2...
16  (2019-02-17, 2019-09-01, 2020-06-07, 2019-04-2...
17  (2019-02-17, 2019-09-01, 2020-06-07, 2019-04-2...
18  (2019-02-17, 2019-09-01, 2020-06-07, 2019-04-2...
19  (2019-02-17, 2019-09-01, 2020-06-07, 2019-04-2...
20  (2019-02-17, 2019-09-01, 2020-06-07, 2019-04-2...

                                                  cat
0   (arts_entertainment, autos, beauty_fitness, bo...
1   (arts_entertainment, autos, beauty_fitness, bo...
2   (arts_entertainment, autos, beauty_fitness, bo...
3   (arts_entertainment, autos, beauty_fitness, bo...
4   (arts_entertainment, autos, beauty_fitness, bo...
5   (arts_entertainment, autos, beauty_fitness, bo...
6   (arts_entertainment, autos, beauty_fitness, bo...
7   (arts_entertainment, autos, beauty_fitness, bo...
8   (arts_entertainment, autos, beauty_fitness, bo...
9   (arts_entertainment, autos, beauty_fitness, bo...
10  (arts_entertainment, autos, beauty_fitness, bo...
11  (arts_entertainment, autos, beauty_fitness, bo...
12  (arts_entertainment, autos, beauty_fitness, bo...
13  (arts_entertainment, autos, beauty_fitness, bo...
14  (arts_entertainment, autos, beauty_fitness, bo...
15  (arts_entertainment, autos, beauty_fitness, bo...
16  (arts_entertainment, autos, beauty_fitness, bo...
17  (arts_entertainment, autos, beauty_fitness, bo...
18  (arts_entertainment, autos, beauty_fitness, bo...
19  (arts_entertainment, autos, beauty_fitness, bo...
20  (arts_entertainment, autos, beauty_fitness, bo...

In [64]:
for_merge_list = [states_df_dict[f'{state_codes[x]}_data_df'][1] for x in range(11,21)]

In [65]:
len(for_merge_list)

10

In [66]:
for x in range(11, 21):
    states_df_dict[f'{state_codes[x]}_data_df'][1].rename(columns={'max_date': f'{state_codes[x]}_max_date'}, 
              inplace=True)

In [67]:
combo_df = reduce(lambda left,right: pd.merge(left,right,on=['cat'],
                                            how='outer'), for_merge_list)
combo_df.head()

NameError: name 'reduce' is not defined

In [68]:
cols = list(combo_df.columns.values)

NameError: name 'combo_df' is not defined

In [69]:
combo_df = combo_df[cols]
combo_df.head()

NameError: name 'combo_df' is not defined