In [109]:
#dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
from matplotlib.lines import Line2D

In [110]:
#reading in the state abbreviations
path = '../google_trends/statesAbbrev.csv'
statesAbbrev_df = pd.read_csv(path)
statesAbbrev_df.tail(12)

             State Abbrev Code
39    Rhode Island   R.I.   RI
40  South Carolina   S.C.   SC
41    South Dakota   S.D.   SD
42       Tennessee  Tenn.   TN
43           Texas   Tex.   TX
44            Utah   Utah   UT
45         Vermont    Vt.   VT
46        Virginia    Va.   VA
47      Washington  Wash.   WA
48   West Virginia  W.Va.   WV
49       Wisconsin   Wis.   WI
50         Wyoming   Wyo.   WY

In [111]:
#list for state codes
state_codes = [x for x in statesAbbrev_df['Code']]

In [112]:
#list for state names
state_names = [x for x in statesAbbrev_df['State']]

In [113]:
#creating a df dict to hold the state dfs, reading in the dfs
states_df_dict = {}
for x in range(40, 51):
    path = f'../google_trends/google_trends_csvs/state_csvs/US-{state_codes[x]}_cat_data.csv'
    states_df_dict[f'{state_codes[x]}_data_df'] = [pd.read_csv(path)]

In [114]:
#inspecting the keys (ie df names)
states_df_dict.keys()

dict_keys(['SC_data_df', 'SD_data_df', 'TN_data_df', 'TX_data_df', 'UT_data_df', 'VT_data_df', 'VA_data_df', 'WA_data_df', 'WV_data_df', 'WI_data_df', 'WY_data_df'])

In [115]:
#test printing a df
print(state_codes[40])
states_df_dict[f'{state_codes[40]}_data_df'][0].head(10)

SC

,time,arts_entertainment,autos,beauty_fitness,books_lit,action_adventure,campaigns_elections,celebs,discrimination,entertainment_media,...,mobiles,online_vids,scifi_fantasy,sport_news,tv_shows,voice_vid_chat,weather,covid_cases,stay_at_home,mass_gathering_ban
0,2019-01-06,96,78,70,87,68,0,65,22,68,...,60,92,66,80,91,37,59,NaN,False,False
1,2019-01-13,95,76,73,87,74,0,66,10,83,...,61,87,54,48,79,35,68,NaN,False,False
2,2019-01-20,88,80,71,81,69,0,61,18,73,...,62,83,55,54,89,41,68,NaN,False,False
3,2019-01-27,93,76,70,83,71,0,66,17,80,...,61,94,43,44,83,48,69,NaN,False,False
4,2019-02-03,92,78,72,88,65,0,61,26,60,...,61,81,42,73,89,58,57,NaN,False,False
5,2019-02-10,95,80,68,92,58,0,63,20,72,...,64,91,51,47,78,43,70,NaN,False,False
6,2019-02-17,95,82,76,90,66,0,78,23,67,...,67,91,40,40,83,53,80,NaN,False,False
7,2019-02-24,100,84,73,94,64,0,69,25,68,...,64,87,55,45,86,70,74,NaN,False,False
8,2019-03-03,97,82,72,93,63,0,59,46,75,...,70,89,51,39,91,52,76,NaN,False,False
9,2019-03-10,93,83,68,86,55,0,68,22,66,...,64,84,46,63,84,55,58,NaN,False,False

In [116]:
#creating a list of all the columns
col_names = list(states_df_dict[f'{state_codes[40]}_data_df'][0].columns)

In [117]:
#using the col list to extract the categories
cat_names = [x for x in col_names if x not in ['time', 'covid_cases', 'stay_at_home', 'mass_gathering_ban']]

In [118]:
#extracting times from the df
times_list = list(states_df_dict[f'{state_codes[40]}_data_df'][0]['time'])

In [119]:
#making sure there is only 1 df w/in the dict per state (in case you need to clear any badly done extra dfs from the function below)
for x in range(40, 51):
    for y in range(1, len(states_df_dict[f'{state_codes[x]}_data_df'])):
        del(states_df_dict[f'{state_codes[x]}_data_df'][y])
    print(state_codes[x])
    print(len(states_df_dict[f'{state_codes[x]}_data_df']))

SC
1
SD
1
TN
1
TX
1
UT
1
VT
1
VA
1
WA
1
WV
1
WI
1
WY
1

In [120]:
#applying independent t-tests between each year's mean (2019, 2020),
#whether the p-val is signif, the 2019 and 2020 stdevs
# appending a new df
def means_comp(ind_no):
    all_data_df = states_df_dict[f'{state_codes[ind_no]}_data_df'][0]
    data_2019_df = all_data_df.iloc[:52, :]
    data_2020_df = all_data_df.iloc[52:, :]
    
    means_diff = []
    stdevs_2019 = []
    stdevs_2020 = []
    for col in cat_names:
        means_diff_instance = stats.ttest_ind(data_2019_df[col], data_2020_df[col], equal_var=False)[1]
        means_diff.append(means_diff_instance)
        stdev_2019 = data_2019_df[col].std(ddof=0)
        stdevs_2019.append(stdev_2019)
        stdev_2020 = data_2020_df[col].std(ddof=0)
        stdevs_2020.append(stdev_2020)
    means_diff[21:24] = 'n/a', 'n/a', 'n/a'
    stdevs_2019[21:24] = 'n/a', 'n/a', 'n/a'
    stdevs_2020[21:24] = 'n/a', 'n/a', 'n/a'
    
    signif_list = []
    for x in means_diff:
        if x == 'n/a':
            signif_list.append('n/a')
        elif x <= 0.05:
            signif_list.append('Yes')
        elif x > 0.05:
            signif_list.append('No')

    comparison_df = pd.DataFrame({'categories': data_2019_df.mean().index, '2019_means': data_2019_df.mean().values, '2020_means': data_2020_df.mean().values, 'p_vals': means_diff, 'stats_signif': signif_list, '2019_stdev': stdevs_2019, '2020_stdev': stdevs_2020})
    comparison_df.drop([21,22,23], inplace=True)
    comparison_df.set_index('categories', inplace=True)
    new_index = ['action_adventure', 'scifi_fantasy', 'tv_shows', 'online_vids', 'mobiles', 'voice_vid_chat', 'infectious_diseases', 'health_news', 'games_systems_consoles', 'arts_entertainment', 'books_lit', 'lottos', 'celebs', 'entertainment_media', 'campaigns_elections', 'discrimination', 'law_enf', 'weather', 'autos', 'beauty_fitness', 'sport_news']
    comparison_df = comparison_df.reindex(new_index)
    comparison_df['diff_btwn_2019_2020_stdevs'] = comparison_df['2020_stdev'] - comparison_df['2019_stdev']
    states_df_dict[f'{state_codes[ind_no]}_data_df'].append(comparison_df)
    
    signif_cats =[]
    for x in range(0, len(comparison_df)):
        if comparison_df.iloc[x, 3] == 'Yes':
            signif_cats.append((list(comparison_df.index)[x], comparison_df.iloc[x, 2]))
    states_df_dict[f'{state_codes[ind_no]}_data_df'].append(signif_cats)

In [121]:
#applying the function to all the state dfs
for x in range(40, 51):
    means_comp(x)

In [122]:
states_df_dict[f'{state_codes[47]}_data_df'][1]

,2019_means,2020_means,p_vals,stats_signif,2019_stdev,2020_stdev,diff_btwn_2019_2020_stdevs
categories,,,,,,,
action_adventure,70.403846,69.176471,0.355167,No,6.11826,7.11173,0.993473
scifi_fantasy,52.576923,57.352941,0.0705694,No,15.847,9.68893,-6.15811
tv_shows,83.942308,81.745098,0.0609781,No,5.98849,5.66324,-0.325254
online_vids,74.365385,74.666667,0.802566,No,3.63227,7.68923,4.05695
mobiles,60.692308,55.784314,0.000584717,Yes,8.19366,5.36625,-2.82741
voice_vid_chat,53.057692,48.686275,0.100608,No,10.7836,15.2695,4.4859
infectious_diseases,10.057692,26.000000,2.17457e-06,Yes,1.89547,21.0182,19.1227
health_news,54.634615,58.647059,0.126503,No,10.9913,14.8361,3.84482
games_systems_consoles,54.211538,63.470588,4.10685e-05,Yes,6.74062,13.4344,6.69382
arts_entertainment,93.096154,87.784314,1.50535e-09,Yes,3.31813,4.52147,1.20334
books_lit,74.423077,69.156863,0.00594743,Yes,10.8528,7.70631,-3.14646
lottos,47.807692,37.549020,9.5514e-08,Yes,11.1218,5.40266,-5.71911
celebs,54.250000,60.411765,0.00120312,Yes,6.30285,11.359,5.05613
entertainment_media,75.711538,74.039216,0.336991,No,6.78612,10.2402,3.45406
campaigns_elections,0.230769,3.078431,0.150721,No,0.541202,13.7881,13.2469
discrimination,21.923077,29.784314,0.00767834,Yes,7.80494,18.6834,10.8785
law_enf,37.096154,40.509804,0.0759489,No,4.2302,12.6961,8.4659
weather,28.692308,27.705882,0.694247,No,14.2161,10.7143,-3.50182
autos,76.500000,70.862745,0.00102083,Yes,8.40215,8.34318,-0.0589742
beauty_fitness,83.923077,79.196078,3.21051e-05,Yes,4.61538,6.12939,1.514
sport_news,71.134615,51.803922,4.88769e-12,Yes,12.1782,12.5994,0.421229

In [106]:
#printing the 4 lowest p vals for each state
for x in range(40, 51):
    print(state_codes[x])
    print(states_df_dict[f'{state_codes[x]}_data_df'][1].sort_values(by=['p_vals']).iloc[0:4, :])

SC
                        2019_means  2020_means       p_vals stats_signif  \
categories
sport_news               57.038462   41.254902  1.20608e-10          Yes
online_vids              86.750000   78.235294  8.08299e-10          Yes
games_systems_consoles   48.730769   60.156863  2.25364e-06          Yes
lottos                   65.230769   57.627451  5.16424e-06          Yes

                       2019_stdev 2020_stdev
categories
sport_news                10.6228    11.4238
online_vids                4.4716    7.44282
games_systems_consoles    6.61035     14.249
lottos                    9.01839    6.61834
SD
                     2019_means  2020_means       p_vals stats_signif  \
categories
infectious_diseases    9.653846   24.274510  3.68499e-06          Yes
sport_news            53.250000   38.274510   2.2996e-05          Yes
lottos                44.038462   35.274510  0.000521315          Yes
books_lit             74.923077   64.588235  0.000553529          Yes

                    2019_stdev 2020_stdev
categories
infectious_diseases    2.23508     19.809
sport_news             19.7619    13.3785
lottos                  14.706    9.12243
books_lit              16.4969    12.2845
TN
                    2019_means  2020_means       p_vals stats_signif  \
categories
arts_entertainment   78.750000   72.156863  1.78749e-11          Yes
lottos               56.250000   45.019608  3.49789e-11          Yes
online_vids          86.480769   77.627451   2.2153e-10          Yes
sport_news           61.153846   46.235294   3.7341e-09          Yes

                   2019_stdev 2020_stdev
categories
arts_entertainment    4.92199    3.67489
lottos                9.08692    5.15063
online_vids           5.01724    7.19739
sport_news             11.702    11.5089
TX
                     2019_means  2020_means       p_vals stats_signif  \
categories
sport_news            79.846154   57.529412  7.15006e-15          Yes
arts_entertainment    91.115385   84.941176  5.91735e-12          Yes
lottos                55.326923   46.431373  2.36157e-08          Yes
infectious_diseases   11.461538   26.098039   2.4293e-06          Yes

                    2019_stdev 2020_stdev
categories
sport_news             9.55427    13.9486
arts_entertainment     3.13574    4.53921
lottos                 8.93722    4.97939
infectious_diseases    1.23197    19.4304
UT
                     2019_means  2020_means       p_vals stats_signif  \
categories
arts_entertainment    90.807692   85.196078  4.60423e-08          Yes
sport_news            65.826923   51.607843  7.80265e-07          Yes
lottos                55.192308   46.549020  3.01119e-06          Yes
infectious_diseases   10.557692   25.313725   7.7472e-06          Yes

                    2019_stdev 2020_stdev
categories
arts_entertainment     4.05746    5.32114
sport_news             13.9776    13.1359
lottos                 9.59775    7.85734
infectious_diseases    1.63394    20.8839
VT
                     2019_means  2020_means       p_vals stats_signif  \
categories
infectious_diseases    8.403846   22.176471   1.2798e-06          Yes
celebs                45.788462   56.039216  3.24992e-05          Yes
lottos                57.692308   46.137255  3.74206e-05          Yes
sport_news            58.115385   43.705882  0.000284677          Yes

                    2019_stdev 2020_stdev
categories
infectious_diseases     1.9341    17.6465
celebs                 9.52595    13.6093
lottos                 14.3976    12.4491
sport_news             19.9737     18.519
VA
                    2019_means  2020_means       p_vals stats_signif  \
categories
lottos               76.807692   63.078431  8.44962e-16          Yes
sport_news           72.134615   51.882353  1.46556e-13          Yes
arts_entertainment   90.576923   83.705882  2.47453e-13          Yes
online_vids          84.076923   77.058824  9.18152e-08          Yes

                   2019_stdev 2020_stdev
categories
lottos                8.51704    4.78496
sport_news            9.96345    13.2852
arts_entertainment    3.71766    4.39382
online_vids           4.07547    7.38682
WA
                     2019_means  2020_means       p_vals stats_signif  \
categories
sport_news            71.134615   51.803922  4.88769e-12          Yes
arts_entertainment    93.096154   87.784314  1.50535e-09          Yes
lottos                47.807692   37.549020   9.5514e-08          Yes
infectious_diseases   10.057692   26.000000  2.17457e-06          Yes

                    2019_stdev 2020_stdev
categories
sport_news             12.1782    12.5994
arts_entertainment     3.31813    4.52147
lottos                 11.1218    5.40266
infectious_diseases    1.89547    21.0182
WV
                        2019_means  2020_means       p_vals stats_signif  \
categories
online_vids              84.711538   77.176471  2.80425e-06          Yes
infectious_diseases      10.307692   24.117647  9.92138e-06          Yes
sport_news               61.750000   47.568627  2.16338e-05          Yes
games_systems_consoles   43.923077   53.549020   0.00015058          Yes

                       2019_stdev 2020_stdev
categories
online_vids               7.05292    8.12815
infectious_diseases       1.81382    19.8174
sport_news                18.1276    13.4387
games_systems_consoles     7.9876    15.1066
WI
                     2019_means  2020_means       p_vals stats_signif  \
categories
sport_news            62.769231   43.921569  1.02665e-11          Yes
arts_entertainment    90.173077   83.725490   1.3864e-08          Yes
infectious_diseases    7.250000   20.725490  2.92265e-06          Yes
online_vids           83.076923   76.941176   3.9618e-05          Yes

                    2019_stdev 2020_stdev
categories
sport_news             12.5186    12.1298
arts_entertainment     3.70406     6.2248
infectious_diseases   0.937981     18.074
online_vids             4.5945    8.82823
WY
                     2019_means  2020_means       p_vals stats_signif  \
categories
infectious_diseases    9.173077   24.725490  1.91166e-05          Yes
arts_entertainment    88.250000   84.490196  0.000299478          Yes
sport_news            44.288462   33.215686  0.000774639          Yes
tv_shows              81.250000   75.588235    0.0035644          Yes

                    2019_stdev 2020_stdev
categories
infectious_diseases    2.37553    23.2076
arts_entertainment     4.58205    5.44625
sport_news             17.4017    14.5728
tv_shows               10.0381    9.00583

In [107]:
#printing all the 'signif' cats for each state
for x in range(40, 51):
    print(state_codes[x])
    print(states_df_dict[f'{state_codes[x]}_data_df'][2])

SC
[('action_adventure', 0.037213368887122865), ('scifi_fantasy', 0.020561479597784815), ('tv_shows', 0.001723158935242587), ('online_vids', 8.082991587792804e-10), ('infectious_diseases', 8.313448149762176e-06), ('health_news', 8.172355066885259e-05), ('games_systems_consoles', 2.2536372559833473e-06), ('arts_entertainment', 1.1386869137802196e-05), ('books_lit', 0.0036629705074250007), ('lottos', 5.164235097920391e-06), ('celebs', 2.0464965258284322e-05), ('entertainment_media', 0.0409192335375911), ('discrimination', 0.0006658984716343508), ('sport_news', 1.2060797821829332e-10)]
SD
[('action_adventure', 0.02517127820578754), ('scifi_fantasy', 0.00842259325095429), ('tv_shows', 0.012613457326598672), ('online_vids', 0.027560319692913875), ('infectious_diseases', 3.6849899850973405e-06), ('arts_entertainment', 0.0026597091290213636), ('books_lit', 0.0005535286715042026), ('lottos', 0.0005213150936593188), ('celebs', 0.0007263319652055333), ('discrimination', 0.01967980766116836), ('weather', 0.027323769701489583), ('sport_news', 2.2995958068710177e-05)]
TN
[('tv_shows', 2.131424371522241e-06), ('online_vids', 2.2152967856265378e-10), ('mobiles', 0.0010491511185653488), ('voice_vid_chat', 0.0011882179518047649), ('infectious_diseases', 1.976083580578135e-05), ('health_news', 0.03823531527551938), ('games_systems_consoles', 0.0029585385323761875), ('arts_entertainment', 1.787492558835714e-11), ('books_lit', 0.0006382836800782082), ('lottos', 3.4978861562129475e-11), ('celebs', 0.020364287276221634), ('discrimination', 0.002022912796452022), ('autos', 0.0013526525392755482), ('sport_news', 3.734104670468228e-09)]
TX
[('action_adventure', 0.003860099817519732), ('tv_shows', 2.8191158001375033e-05), ('mobiles', 0.016680135123175517), ('voice_vid_chat', 0.019768372750786266), ('infectious_diseases', 2.429295981282172e-06), ('health_news', 0.00010210706141703811), ('games_systems_consoles', 1.1535830141696121e-05), ('arts_entertainment', 5.917353475659791e-12), ('books_lit', 0.020787453885561493), ('lottos', 2.3615688954881266e-08), ('celebs', 0.04442561736621344), ('discrimination', 0.003685766942499048), ('autos', 0.0009053970605513475), ('beauty_fitness', 0.019352346290415334), ('sport_news', 7.150056005110144e-15)]
UT
[('scifi_fantasy', 0.013011109382559106), ('online_vids', 0.023179426954940945), ('mobiles', 0.03448612449528127), ('infectious_diseases', 7.747204101807411e-06), ('games_systems_consoles', 0.001574819157516452), ('arts_entertainment', 4.604231997520307e-08), ('books_lit', 0.007882721005095987), ('lottos', 3.011194436159994e-06), ('celebs', 0.0036656842096455654), ('entertainment_media', 0.04029204226319482), ('discrimination', 0.003057377906500814), ('weather', 0.02236036401610036), ('sport_news', 7.802649973900028e-07)]
VT
[('scifi_fantasy', 0.01282378178352018), ('online_vids', 0.007671321758829178), ('infectious_diseases', 1.2798049442020326e-06), ('games_systems_consoles', 0.0039330676751393135), ('books_lit', 0.014500280797163345), ('lottos', 3.7420623029720037e-05), ('celebs', 3.249917084598795e-05), ('discrimination', 0.03904405662366935), ('sport_news', 0.0002846767177331197)]
VA
[('tv_shows', 8.200870111122177e-06), ('online_vids', 9.181515568234888e-08), ('mobiles', 0.003992054457736524), ('infectious_diseases', 5.64246896031666e-06), ('health_news', 0.011309214508895264), ('games_systems_consoles', 2.6670196612890076e-05), ('arts_entertainment', 2.4745260988313054e-13), ('books_lit', 2.7108620342276726e-06), ('lottos', 8.449623355480037e-16), ('celebs', 0.003170364661130704), ('discrimination', 0.008130420641656148), ('autos', 0.0002151497466402287), ('beauty_fitness', 0.008259869764160975), ('sport_news', 1.4655567989969214e-13)]
WA
[('mobiles', 0.0005847172934776497), ('infectious_diseases', 2.174571842790142e-06), ('games_systems_consoles', 4.106847547145226e-05), ('arts_entertainment', 1.50534956333137e-09), ('books_lit', 0.005947425511733981), ('lottos', 9.551400525440147e-08), ('celebs', 0.0012031198344436911), ('discrimination', 0.0076783405730117766), ('autos', 0.0010208294992710466), ('beauty_fitness', 3.21051017386855e-05), ('sport_news', 4.8876919897244976e-12)]
WV
[('scifi_fantasy', 0.03431710796679103), ('online_vids', 2.804245273049256e-06), ('infectious_diseases', 9.921381638859162e-06), ('health_news', 0.0058614068627625875), ('games_systems_consoles', 0.00015057995520919247), ('arts_entertainment', 0.007200477636542969), ('books_lit', 0.04787426439764605), ('lottos', 0.0006425951077662763), ('celebs', 0.00044921345304713687), ('discrimination', 0.005483657068579233), ('sport_news', 2.1633845351903713e-05)]
WI
[('scifi_fantasy', 0.03638155101062401), ('online_vids', 3.961799496019733e-05), ('mobiles', 0.0005644508870334183), ('infectious_diseases', 2.9226481069975736e-06), ('health_news', 0.009605562021610666), ('games_systems_consoles', 0.000665709128181784), ('arts_entertainment', 1.386402826914742e-08), ('books_lit', 0.004117605812143661), ('lottos', 0.0005142065561865732), ('celebs', 0.00014024411608071764), ('discrimination', 0.02193062856392299), ('weather', 0.02270266117185006), ('autos', 0.00315201959296557), ('beauty_fitness', 0.007995966611744162), ('sport_news', 1.0266544809071982e-11)]
WY
[('tv_shows', 0.003564403911922712), ('online_vids', 0.011161572055350935), ('infectious_diseases', 1.9116629466131967e-05), ('games_systems_consoles', 0.009817608796413819), ('arts_entertainment', 0.000299478163159776), ('books_lit', 0.009342488939380368), ('lottos', 0.035131713792526664), ('celebs', 0.008825692307801296), ('discrimination', 0.014241283636668444), ('weather', 0.011661769472952353), ('sport_news', 0.0007746388157160955)]

In [108]:
#number of times each category is statistically important for the 11 dfs
#ones that are stats signif all times suggest they are categories affected by the pandemic
#ones that are signif only for a few states could suggest general differences in states
stats_count_list = []
for x in range(40, 51):
    for m in states_df_dict[f'{state_codes[x]}_data_df'][1].index:
        if states_df_dict[f'{state_codes[x]}_data_df'][1].loc[m, 'stats_signif'] == 'Yes':
            stats_count_list.append(m)
pd.Series(stats_count_list).value_counts()

books_lit                 11
lottos                    11
celebs                    11
infectious_diseases       11
sport_news                11
discrimination            11
arts_entertainment        10
games_systems_consoles    10
online_vids                9
scifi_fantasy              6
mobiles                    6
tv_shows                   6
health_news                6
autos                      5
beauty_fitness             4
weather                    4
action_adventure           3
voice_vid_chat             2
entertainment_media        2
dtype: int64

#### Guide to indices w/in states_df_dict:

index 0 is a df containing all info on a state (the categs info, the covid cases, the stay at home orders/gathering bans)

index 1 is a df showing the average pop rating for each category in 2019 and 2020, and the p value of an indep t-test for each categ, and whether the p-val is signif

index 2 is a list of all the cats w/ signif changes in cat pop, and their p-vals